[2011-12-21 18:54] kadnan opened #1 "Invalid signature error when reading file from subfolder"
Details are given here for the error. Its happening when I access file in subfolder. Things work fine if file is in parent folder.

http://pastie.org/3051012

[2011-12-21 20:11] BenExile commented on #1
It appears the problem is not related to a file being in a sub-folder, but is caused by incorrect character escaping. In this case forward slashes were encoded to %2F, but actually need to be literal forward-slash characters for use in the URL. This issue is fixed in commit 0611223ab574465f21b6130f7bd90dc225f1d330. Thanks for raising this, @kadnan. Issue closed.

[2011-12-21 20:11] #1 closed, assigned to nobody

[2012-01-11 03:34] BenExile opened #4 "Encryption of locally stored OAuth tokens"
OAuth tokens allow an application to interact with a third-party service on behalf of a user. For this reason the ability to encrypt/decrypt OAuth access tokens stored to disk, database or otherwise must be provided, and they should be handled in the same sensitive manner as account passwords.

Tokens are required to generate signed requests, meaning a one-way hash function such as sha1 or md5 is

[2012-01-20 22:56] BenExile commented on #4
The addition of the [Encrypter](https://github.com/BenTheDesigner/Dropbox/blob/master/Dropbox/OAuth/Storage/Encrypter.php) class addresses this issue. Example implementation can be seen [here](https://github.com/BenTheDesigner/Dropbox/blob/master/examples/bootstrap.php).

[2012-01-20 22:56] #4 closed, assigned to nobody

[2012-01-25 11:49] Nick5679 opened #6 "Just wondering if I can access files in the dropbox folder using your sdk"
Hi,

Thanks for the sdk. I was planning to use it in my project. I did see your examples. It shows how to upload file and see account info. Is there any method to retrieve folder names and filenames. And also download it to my server using the php sdk when requested. Is this possible using your sdk.

I appreciate all your help.

Thanks.

[2012-01-25 12:19] BenExile commented on #6
Hi @Nick5679

The library provides access to all V1 API methods available to date, though I am still working on examples and associated documentation. Please see the [metaData](https://github.com/BenTheDesigner/Dropbox/blob/master/Dropbox/API.php#L121-143) and [getFile](https://github.com/BenTheDesigner/Dropbox/blob/master/Dropbox/API.php#L100-119) methods which should provide the functionality yo

[2012-01-25 12:40] Nick5679 commented on #6
I appreciate all your help.

Thanks.

[2012-01-25 12:40] #6 closed, assigned to nobody

[2012-02-18 06:18] NimbleHost opened #8 "oauth_token parameter not found"
We're trying to integrate this library into a Slim-based web app, and testing it here:

http://test.nimblehost.com/armadillo/files/armadillo/

To access the current implementation login with user: `guest` and password: `guest` -- then visit:

http://test.nimblehost.com/armadillo/files/armadillo/dropbox

Although you'll be directed to the Dropbox site correctly, when clicking "Allow" and being redi

[2012-02-18 08:23] BenExile commented on #8
Hi @NimbleHost

Thank you for raising this issue. What you have described suggests that the request token is not being stored in the session, resulting in the `ConsumerAbstract::getAccessToken()` call failing.

I think the place to start would be by running the examples in a standalone environment to establish whether this is a problem with the library or platform, or if it is caused by the integr

[2012-02-18 22:10] NimbleHost commented on #8
Hi Ben,

The examples do work successfully, when tested in a standalone environment separately from Slim.

Regarding sessions, I believe Slim also encrypts session data, but does so transparently so that we can use the `$_SESSION` variable just like normal. More info on Slim sessions is here:

http://www.slimframework.com/documentation/stable#slim-sessions

My first thought at this point is to try

[2012-02-19 13:41] BenExile commented on #8
Hi @NimbleHost

Without detailed knowledge of the internals of Slim it's going to be difficult for me to provide support. I hate to pass the buck, but as the examples work as expected you may have more luck contacting the author/core contributors of Slim as they may be able to outline any issues/quirks accessing $_SESSION data directly.

I will leave this issue open until you have managed to resol

[2012-02-19 18:53] NimbleHost commented on #8
Hi Ben,

I understand. Although I had already contacted the Slim dev before posting here, actually. ;-)

As I mentioned previously, we can manually set the session data that the library is looking for -- however, I don't know how it should be structured (though I have dug around in the library trying to figure it out). Can you share some info on the structure of the data stored in the `$_SESSION['

[2012-02-19 20:33] BenExile commented on #8
Hi Jonathan,

What was the developers response? Maybe @codeguy could jump in on this one if he has time?

If by manually setting the session data you simply mean writing the token directly to the `$_SESSION` superglobal then I'm unsure how this will solve your problem - this is how the storage handler currently works anyway. Have you tried disabling Slim's cookie based session handler and using th

[2012-02-20 01:18] NimbleHost commented on #8
Appreciate your patience with me, Ben. No doubt I'm going to display some ignorance here, but this is my reasoning:

`$_SESSION['dropbox_api']` isn't getting set when using the library with a Slim app, but is when used in a standalone environment. Hence, there's something about Slim that prevents `$_SESSION['dropbox_api']` from getting set in a way that the library expects.

However, within our Sl

[2012-02-20 01:39] codeguy commented on #8
@NimbleHost I think I may know what is going wrong. I've DM'd you on Twitter. If you are available to Skype on Tuesday morning, I can work with you to fix your session issue.

[2012-02-20 05:31] NimbleHost commented on #8
Thanks @codeguy, really appreciate the help. @BenTheDesigner I'll post here again once we've found a solution.

Best,

Jonathan

[2012-02-20 09:17] BenExile commented on #8
Hi @NimbleHost

My library will be able to access any value in the $_SESSION. Hopefully between yourself and @codeguy you'll be able to determine why you're not able to write the token to it successfully. I'm assuming this is something to do with a custom session.save_handler but could be wrong.

The use of encryption in the Dropbox library is optional and can be disabled by passing no arguments w

[2012-02-21 19:41] NimbleHost commented on #8
Thanks, Ben. Appreciate the reinforcement.

I talked with @codeguy this morning, and he made some very helpful suggestions. I've made a bit more progress (the application is now getting linked to Dropbox at least) but problems remain. I don't believe, however, that these problems are with the library itself.

If I could offer some constructive feedback here - more detailed documentation on using t

[2012-02-21 19:41] #8 closed, assigned to nobody

[2012-02-21 20:18] BenExile commented on #8
Hi @NimbleHost

I'm glad you're on the way to getting things sorted. Please feel free to get in touch if you need clarification on anything.

The documentation, examples and unit tests are all being worked. I appreciate the feedback regarding documentation and this has been taken on board.

Regards,
Ben

[2012-02-27 13:35] johnmullin2003 opened #9 "Errors in ConsumerAbstract.php file"
Hello,

I've got  those errors in my webserver:

_Notice: Undefined offset: 1 in ....../Dropbox/OAuth/Consumer/ConsumerAbstract.php on line 281
Fatal error: Cannot access empty property in ....../Dropbox/OAuth/Consumer/ConsumerAbstract.php on line 283_

my hosted webserver has PHP Version 5.3.2 with cURL and mCrypt support.

Thanks for your help,

jM

[2012-02-27 13:50] johnmullin2003 commented on #9
I googled a bit and I think I solved this error changin into:
_$token->k = $v;_

Thanks again

[2012-02-27 13:51] #9 closed, assigned to nobody

[2012-02-27 14:15] BenExile commented on #9
Hi @johnmullin2003

Your environment sounds fine. That notice suggests that the response from Dropbox was malformed in some way - it was unable to split the response and set the properties of the token object. This could have been caused by many things (Dropbox platform availability, connectivity issues etc) and I'd really need to see the original response to debug. Are you able to replicate?

Ple

[2012-02-27 14:25] johnmullin2003 commented on #9
@BenTheDesigner , thanks for your fast answer.
Infact I ran php files in 2 different webservers.
In he first one (php 5.3.10), everything is ok without any edit.
In the second one, (php 5.3.2) it gave me the error. You were right when you typed that I may experience unexpected results, infact that error message isn't shown now, but I get the message: "The request to link the app is invalid." after

[2012-02-27 14:46] BenExile commented on #9
Hi @johnmullin2003

This issue is not apparent in my install of 5.3.2. To help you debug I will need to see the requests/responses. It will be easier if you call `$OAuth->setSignatureMethod('PLAINTEXT')` and replace your sensitive details with XXX (or similar).

How long after being redirected to Dropbox did you authorise the application? The message you're receiving could be related to an expired

[2012-02-27 16:03] johnmullin2003 commented on #9
Hi @BenTheDesigner , thanks again for you help.

The webserver that gives me those problems is the [my school project](http://pwdwallet.sourceforge.net/info.php) @ sourceforge.net.

There, I edit my 'getFile.php' placing the call `$OAuth->setSignatureMethod('PLAINTEXT')` after the `require_once('bootstrap.php')` line, but nothing happened because the error gets out in [dropbox page](http://i40.tin

[2012-02-27 17:08] BenExile commented on #9
Hi @johnmullin2003

To ensure all requests are signed using PLAINTEXT I'd advise setting it just after the `$OAuth` object is created (in bootstrap.php) and before it is passed to `$dropbox`.

Debugging OAuth related issues is a PITA - the easiest way I can think of would be to edit \Dropbox\OAuth\Consumer\Curl (see fetch() method), and `var_dump($request)` just after the call to `$this->getSigned

[2012-02-29 11:35] johnmullin2003 commented on #9
Hi @BenTheDesigner , I followed your instructions and I get this response:

Please note that i _didnt'_ edit ConsumerAbstract.php ( there is: `$token->$k = $v` ).
My consumer app key in the request response is the same.

Thanks for your support.

[2012-02-29 18:47] BenExile commented on #9
Hi @johnmullin2003

Can you `var_dump($response)` inside ConsumerAbstract::parseTokenString() and paste the output? This will enable me to see if the value passed is malformed. I'm still unable to replicate in any version of PHP.

[2012-02-29 22:26] johnmullin2003 commented on #9
Hi @BenTheDesigner ,  this is the output:

I'm trying to host the files on [SourceForge project web workspace](http://sourceforge.net/apps/trac/sourceforge/wiki/Project%20web) because this is the highly suggested place for my school project...
If it can't be possibile, I'll host my web project in another location.

Thanks again

[2012-02-29 23:04] BenExile commented on #9
Hi @johnmullin2003

Unfortunately the support I can offer is limited as I'm unable to replicate this issue on any platform.

What I'm after is the raw HTTP response from the API server - see `\Dropbox\OAuth\Consumer\Curl::fetch()`. In your last comment you said the response was null, but cURL returns false on failure, not null. Please ensure you dump `$response` after `curl_exec()` is called.

I'm

[2012-03-01 12:11] tomlis20 opened #10 "Encrypted key"
Hi

I just set your Dropbox API and I noticed this line

$encrypter = new \Dropbox\OAuth\Storage\Encrypter('XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX');

What should I replace 'XXXX...' string with? Where can i find it?

[2012-03-01 12:39] BenExile commented on #10
Hi @tomlis20

The value passed to the Encrypter can be any 32 byte string you want. Obviously tokens will need to be decrypted with the same key they were encrypted, and how/where you store the key is up to you. Hope this helps.

[2012-03-01 21:15] raweden commented on #10
if I've got it right, the Encrypter class is for encrypting tokens in the $_SESSION object?

[2012-03-02 00:46] BenExile commented on #10
Hi @raweden

That is correct, though it will be compatible with future storage handlers too.

[2012-03-05 15:21] #10 closed, assigned to nobody

[2012-03-08 02:18] aflusche opened #11 "slow putFile"
Hey Ben,

Thanks for the awesome work you've done on this library. It's great!!

I have it working on my project, but it's taking forever (3-5 mins) to put files. The files I'm trying to store are just PDFs, about 200kb. Seems like that would be pretty quick.

Do you have any insight on what the issue could be? Or do you perhaps have some troubleshooting ideas?

Thanks in advance,
Andrew

[2012-03-08 02:50] aflusche commented on #11
Ok, sorry for cluttering up your page. I just did some more debugging, and I found out that the search command is the slow point.

That's no problem. I can work around that. putFile is working just fine.

[2012-03-08 02:50] #11 closed, assigned to nobody

[2012-03-23 13:46] TheBlune opened #12 "Bootstrap.php autoload function parse error"
Hey,

I tried your accountinfo.php example and the browser returned this error concerning your autoload function:

Parse error: syntax error, unexpected T_FUNCTION, expecting ')' in /mnt/webg/e2/24/52993124/htdocs/apis/dropbox/examples/bootstrap.php on line 24

did I set something wrong?

I work with PHP Version 5.2.17

Thanks in advance,
Jo

[2012-03-23 14:10] BenExile commented on #12
Hi @Wannabechilean

This library requires PHP >= 5.3.1 as described in the readme. This specific parse error is being caused by a closure (introduced in PHP 5.3).

[2012-03-23 14:30] TheBlune commented on #12
ohh no, simply overread it :D

Sorry for stealing your time.

[2012-03-23 15:59] BenExile commented on #12
No problem :)

[2012-04-07 19:26] ivomans opened #14 "Encrypted (or not) token for examples"
The test/setup.php stores the token without using the Encrypter function. The examples/bootstrap.php is using the Encrypter function. Thus the examples don't work after running the setup.php.

Please make the setup.php and examples compatible. It would make things more obvious for a new user.

Regards,
Ivo Mans

[2012-04-08 15:49] BenExile commented on #14
Hi @ivomans

You do not need to run setup to run the examples provided. The test directory will contain unit tests once complete and the token file generated by the setup script is not designed to be compatible with the examples. If you're having problems running the examples then please explain the problem you're facing.

[2012-04-08 15:49] #14 closed, assigned to nobody

[2012-04-08 22:35] ivomans commented on #14
Hi Ben,

Ok, so my problem could not be caused by what I thought. I checked now some futher what is happening:

When the App is not yet registered to the account the examples (I tested with accountinfo.php) give underneath error.
By using setup.php once this issue got solved, since here the process of registering an app is working fine.

Fatal error: Uncaught exception 'Dropbox\Exception' with mes

[2012-04-09 09:45] BenExile commented on #14
Hi @ivomans

The above error suggests that the access token in your session has been disabled (app has been removed from your Dropbox account). I would suggest clearing your session and attempting to authenticate again.

I have not experienced any noticeable delay when using the Encrypter. Are you able to advise approximate delay time? Can you provide details of your environment so I can try and r

[2012-04-09 12:41] Jamesking56 opened #15 "Too Confusing to use!"
Hey,

This needs a hell of a lot more Documentation as it has caused me many headaches and I still haven't worked out how to use it properly!

I'm trying to build it into my own PHP Class but it isn't going well!

Please add more documentation! Maybe a wiki?

[2012-04-09 15:04] BenExile commented on #15
Hi @Jamesking56

Documentation, wiki and more advanced examples are something I am working on. If you could be more specific about the problems you've been having then I may be able to help you resolve them.

To be fair this is a pretty basic PHP library, provided with examples, and watched by 113 others who haven't had many headaches. I'm sorry you've found it so difficult to work with. What exac

[2012-04-09 19:22] ivomans commented on #14
Hi Ben,

I just timed a couple of page responses with encrypter varying between 90 and 200 seconds. Without the encrypter the response is almost immediate.
It's an Ubuntu 10.04 system, with Apache 2.2.14, PHP 5.3.2, cUrl 7.19.7, Mcrypt 2.5.8 (all regular Ubuntu packages). System load is less than 0.05, located in a decent data center, system is serving all kind of other PHP functions without a pro

[2012-04-09 19:58] BenExile commented on #14
Hi @ivomans

I was able to replicate under Ubuntu Karmic and Lucid but not Windows or Ubuntu Natty. I will be looking into why this is, but using /dev/urandom should be fine for the purpose of generating an IV anyway. Please see commit b49576c and thank you for your contribution!

[2012-04-10 12:58] TheBlune commented on #12
Now with PHP Version 5.3.8 appear following errors:

arning: mcrypt_create_iv() [function.mcrypt-create-iv]: Cannot open source device in /mnt/webg/e2/24/52993124/htdocs/apis/dropbox/Dropbox/OAuth/Storage/Encrypter.php on line 53

Warning: mcrypt_encrypt() [function.mcrypt-encrypt]: The IV parameter must be as long as the blocksize in /mnt/webg/e2/24/52993124/htdocs/apis/dropbox/Dropbox/OAuth/Stor

[2012-04-10 15:16] Jamesking56 commented on #15
I'm making my own PHP class for my project to handle all of the product's functions. How can I build Dropbox into the class so I can create a function that I can use in my main script?

E.g. $dropbox = $MyClass->dropbox();

[2012-04-10 17:57] BenExile commented on #15
Hi @Jamesking56

I'm still unsure of what you mean. If you need a method that returns an instance of the `\Dropbox\API` class, then do just that...

[code]

[2012-04-10 18:32] BenExile commented on #12
Hi @Wannabechilean

It seems PHP is unable to read from /dev/random (MCRYPT_DEV_RANDOM). Please check the permissions on /dev/random and /dev/urandom (see below) ensuring it is readable by the user/group PHP is running as.

Also, please pull the changes on master. I committed a small change yesterday where MCRYPT_DEV_RANDOM was changed to MCRYPT_DEV_URANDOM to fix a slow encryption/decryption bug.

[2012-04-12 07:26] matthieuc opened #16 "how to use with always the same dropbox, mine, and not the one of the visitor ?"
Hello,

I can use your script, it seems very useful, and I can browse some my filders in my dropbox, but what I need to do is a webpage who display always the same folder of my Dropbox, vfor visitors, so that they can download some of my files

I wrote this script :

---

require_once('Dropbox/API.php');
require_once('Dropbox/OAuth/Consumer/ConsumerAbstract.php');
require_once('Dropbox/OAuth/Consu

[2012-04-15 11:56] Jamesking56 commented on #15
What happens if I try to access someone's dropbox account but they haven't connected their dropbox to my app yet? How do I check for this at the class level?

[2012-04-15 13:45] BenExile commented on #15
@Jamesking56

At present there is no persistent token storage, meaning if you wish to save the tokens for users then you will need to write your own storage handler. I made the decision not to provide database storage handler in the first instance as it needs more planning to make it as compatible as possible with the many authentication components that are available.

As I'm not familiar with you

[2012-04-15 13:49] #15 closed, assigned to BenExile

[2012-04-15 13:50] BenExile commented on #15
Issue closed as there is no specific issue to deal with, more specific integration questions.

[2012-04-15 15:32] ivomans opened #17 "Check for headers not sent"
Hi Ben,

I'm integrating your library in one of my webpage applications.
On some status page I do a check to see if the user has a connected Dropbox account.
To make this a bit smoother I would suggest you to add an extra condition to the authorise function in ConsumerAbstract.php:

Was: if (PHP_SAPI !== 'cli') {
Better: if ((PHP_SAPI !== 'cli') && (!headers_sent())) {

BTW: I've created a 'mysql.

[2012-04-16 18:34] BenExile commented on #17
Hi @ivomans,

Thank you. I will look into the `headers_sent()` check.

Please feel free to contact email me on ben@handcraftedbyben.co.uk to discuss integration of your code. I'm more than happy to consider contributions.

[2012-04-18 07:52] BenExile commented on #16
Hi @matthieuc

Sorry for the delayed response. I've been very busy.

What you're trying to do is possible and I have outlined the process you'll need to go through to achieve this below.

##### 1. Acquire an OAuth token

You will need to acquire an OAuth token for your Dropbox account and make this persistent. `setup.php` located in the tests directory does this already, storing the token, consume

[2012-04-20 06:00] FARAZFRANK opened #18 "am using your api and getting these error"
## putFile.php

/**
- Upload a file to the authenticated user's Dropbox
- @link https://www.dropbox.com/developers/reference/api#files-POST
- @link https://github.com/BenTheDesigner/Dropbox/blob/master/Dropbox/API.php#L80-110
  */

// Require the bootstrap
require_once('bootstrap.php');

// Create a temporary file and write some data to it
$tmp = tempnam('/tmp', 'dropbox');
$data = 'This file was

[2012-04-20 06:40] FARAZFRANK commented on #18
Thanks i have already solved this prob.

My app Access Type was 'Full Dropbox' and path was set according to "app folder" (a.k.a. sandbox). I have changed the path according my app access type "full Dropbox" (a.k.a. dropbox) at line 45 in API.php

public function __construct(OAuth\Consumer\ConsumerAbstract $OAuth, $root = 'sandbox')
{
$this->OAuth = $OAuth;
$this->setRoot($root);
}

CHANGED $root

[2012-04-21 18:39] BenExile commented on #18
Hi @FARAZFRANK777

This behaviour is intended and you do not need to make modifications to the library directly. `sandbox` is the recommended Dropbox app access type and should you wish to override this, simply pass `dropbox` as the second argument when instantiating the Dropbox API or call the setRoot() method. Examples below:

[code]

It is not necessary to create an instance of the Encrypter ob

[2012-04-23 05:57] FARAZFRANK commented on #18
thanks for rapid reply,
i have done accordingly you.

i have one more question, how can i create a new directory(folder) in my dropbox account using this api library? i dint find anywhere. -Frank

[2012-04-23 06:21] FARAZFRANK commented on #18
am done with this post: http://forums.dropbox.com/topic.php?id=58812

[2012-04-23 13:44] #18 closed, assigned to nobody

[2012-04-25 08:01] onguyen opened #19 "How save access token"
Hello,

I am developing a PHP Script for content synching and it is running as a background process. But this Expiration of Access Token creates troubles for me, it requires a user interaction to click allow button for each new Web Session. Is there any method to avoid this user interaction and get a permanent Access Token for a Dropbox account. In my case i am using only one Dropbox account.

[2012-05-02 00:17] italoveloso commented on #19
Hi,

I have the same doubt. I have an application where the folders and files need to be listed. The integration worked very well, but must avoid at all times the user's permission is required since it is used only one account. Is there any way around this? Thanks in advance.

[2012-05-02 00:57] italoveloso commented on #16
Hi Ben,

Following your tip I read setup.php to implement a solution to the problem mentioned. Basically I will have to authenticate local and acess_token record in a file to always read the acess_token this file to always be authenticated. Is that it?

[2012-05-03 10:22] BenExile commented on #16
Hi,

This is one way of achieving what you're trying to do. You could also implement your own storage handler, saving the token to a database and restoring in the same way.

[2012-05-03 10:25] BenExile commented on #19
Hi

Please see the following link for advice on this. I am working on persistent storage handlers but they are not ready yet. https://github.com/BenTheDesigner/Dropbox/issues/16.

[2012-05-03 10:25] #19 closed, assigned to nobody

[2012-05-06 15:46] italoveloso commented on #16
Hi Ben,

Unfortunately I could not make it work as you describe. Is there another way or can help me on this issue?

[2012-05-06 18:17] italoveloso commented on #16
Hi Ben,

Sorry about that, but I really need this feature. I was thinking of an alternative to avoid the user to be redirected to the page dropbox and what you think of the line 84 of the method ConsumerAbstract authorise make the automatic authorization with cURL? Do you think this is possible? If so how would the code? So long as I await your response and I'll now testing here. I thank your help

[2012-05-09 01:28] kissgyorgy opened #20 "unserialize() error"
When I first try to authorize, then the the app come back to the callback URL and try to do for ex. $dropbox->accountInfo(); this message pops up:

A PHP Error was encountered
Severity: Notice
Message: unserialize() [function.unserialize]: Error at offset 0 of 192 bytes
Filename: Storage/Encrypter.php
Line Number: 69

What is it ? Where does it came from ? I googled after this and found:
http://da

[2012-05-09 08:30] BenExile commented on #20
Hi @Walkman

I have only encountered this problem when the encryption key is changed after a token has been obtained. As the decryption will fail, so will unserializing the token.

Please confirm that the encryption key was not changed between requests and I will investigate further. Commit 91c6e5a checks for failed unserialisation and throws an Exception which will allow you to handle this error

[2012-05-09 08:55] BenExile commented on #16
Hi @italoveloso

Automating the user-authorisation step defies the entire point of OAuth and I'd strongly advise against attempting to do it. The steps I provided above do work but if you're having trouble please Gist/Pastebin the code you're using and I'll see what I can do to help.

[2012-05-09 09:20] kissgyorgy commented on #20
Yes, I cahnged it manually to test it. So it will never come up when I request token from a new user ?

[2012-05-09 09:24] kissgyorgy commented on #20
Thanks for the change ! Anyway, your code is very clean and easily usable ! ;-)

[2012-05-09 09:24] #20 closed, assigned to nobody

[2012-05-09 09:57] BenExile commented on #20
Hi @Walkman

This issue will still occur if you encrypt tokens with one key and try to decrypt using another. This means that any change to your encryption key will mean that tokens issued before that change will no longer work. I will look into ways we can handle this, but for now please bear this in mind.

Thank you for the compliments!

Regards,
Ben

[2012-05-09 10:07] BenExile commented on #17
Hi @ivomans

I have decided not to include the `headers_sent()` check. I found it to be more useful to check at the time of instantiation so we can handle the error:

[code]

Regards,
Ben

[2012-05-09 10:07] #17 closed, assigned to nobody

[2012-05-09 10:09] BenExile commented on #16
Hi @italoveloso

Please contact me by email if you require any assistance with this. The issue is not with the library, but your implementation. I am closing this issue.

Regards,
Ben

[2012-05-09 10:09] #16 closed, assigned to nobody

[2012-05-09 16:12] kissgyorgy commented on #20
I did not looked into details yet, does it mean you use only one key for every user? I tought the way to use your scripts that I generate every user a unique key and assign to them, and when the user log in I use that key. Am I right ?

[2012-05-09 16:30] BenExile commented on #20
Hi @Walkman

It's your decision whether you use a unique encryption key per user or use a shared key. In both scenarios the above applies - you must decrypt with the same key that you encrypted the token with. If at any point a unique/shared key is changed, any tokens encrypted using that key will be useless as you will be unable to decrypt them.

[2012-05-09 16:31] kissgyorgy commented on #20
ok, got it thanks !!

[2012-05-09 18:07] BenExile commented on #20
Hi @Walkman

No problem, glad I could help :)

[2012-05-10 18:43] lincolnbrito commented on #12
I use PHP 5.3.6 but the same error is returned in line 24

[2012-05-10 21:20] BenExile commented on #12
Hi @lincolnbrito

Can you give me some more details about your platform? Have you checked the permissions to ensure MCRYPT_DEV_URANDOM/MCRYPT_DEV_RANDOM is readable? Also please see the docs page for [mcrypt_create_iv](http://php.net/manual/en/function.mcrypt-create-iv.php) and try other sources to see if this problem persists - to modify the IV source you will need to change `IV_SOURCE` [here](ht

[2012-05-11 13:49] lincolnbrito commented on #12
Windows 7, Xampp 1.7.5, PHP 5.3.6

The error:
Parse error: syntax error, unexpected T_FUNCTION, expecting ')' in .../bootstrap.php on line 24

[2012-05-11 15:21] BenExile commented on #12
Hi @lincolnbrito

I am looking into this as anonymous functions were introduced in PHP 5.3.0. I'm unable to replicate at present but will do what I can to help.

[2012-05-16 16:22] BenExile commented on #12
As I'm unable to replicate this issue and you are the only person experiencing the problem I am going to have to close it. Please feel free to email me with any more relevant details and I will be happy to look at it again.

[2012-05-16 16:22] #12 closed, assigned to nobody

[2012-05-23 06:25] earth opened #21 "Upload file within a folder"
Hello,

In my drop box folder i have a folder named 'Public'. How can i upload a file within 'Public' folder using the API.

[2012-05-24 20:22] BenExile commented on #21
Hi @earth

Your application will need to have full Dropbox access. You'll then be able to putFile/putStream into that directory.

[2012-05-25 07:31] earth commented on #21
Hello,

I have full Dropbox access.

I am using the following code to upload file to upload a file within 'Public' folder. The file is getting uploaded to the root folder and not within 'Public' folder.

$put = $dropbox->putFile($tmp, '/Public/api_upload_file.txt');

[2012-05-29 09:54] rokai3009 opened #22 "Dropbox - Console"
Hello everyone,

I run dropbox code by browser, it works, but when I run dropbox code by console, it doesn't work and no error
Thanks for any suggest, I'm just begginer :(

Best wishes

[2012-05-29 10:49] BenExile commented on #22
Hi,

Can you provide more information? What code are you trying to run via the CLI?

[2012-05-29 10:51] BenExile commented on #21
Hi @earth

Sorry for the late reply - I'm looking into this and will update when I have an answer. In theory that code should work, though.

[2012-05-29 11:19] earth commented on #21
Thanks

[2012-05-31 01:18] rokai3009 commented on #22
Hi,
I want upload a file, I use test.php :
                $protocol = (!empty($_SERVER['HTTPS'])) ? 'https' : 'http';
        $callback = $protocol . '://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];

[code]

I use localhost to run test, when run by browser it works, but I use one file .bat with content :
             C:\xampp\php\php.exe -f c:\xampp\htdocs\test_dropbox.php
it's don't work

[2012-06-01 10:11] BenExile commented on #22
Hi @rokai3009

This library was never intended to be run via the CLI, in fact [bootstrap.php](https://github.com/BenTheDesigner/Dropbox/blob/master/examples/bootstrap.php#L8-11) prevents this. The OAuth specification states that the user must be redirected to the service provider to authorise the request which we cannot achieve on the command line. The code above won't work and I will not be looki

[2012-06-01 10:11] #22 closed, assigned to nobody

[2012-06-02 13:31] Caster opened #23 "Request mis-signed: Invalid or Missing Signature in accountInfo.php"
#### Description

Hi,

I am planning on using your SDK, which by the way looks really good. After downloading it, the first thing I wanted to do was run some examples. After having set my app key and secret I ran accountInfo.php, just to check. To my surprise, I got a warning and an error. Since I have no clue what causes this, I was wondering if you can help me out here. I sincerely hope this is

[2012-06-05 22:42] cahva commented on #21
putFile method's third parameter is the path. So this works:

[code]

[2012-06-06 04:46] earth commented on #21
Thanks.

On Wed, Jun 6, 2012 at 4:12 AM, Markku Virtanen <
reply@reply.github.com

##

Best Regards,
Rupak
Project Manager, Earth Technology Pvt. Ltd.
www.earthtechnology.co.in

[2012-06-06 05:38] itkikok commented on #12
Hello @BenTheDesigner  I use fedrora 16, php 5.3.13 .   I have error line 24
error
Parse error: syntax error, unexpected T_FUNCTION, expecting ')' in .../bootstrap.php on line 24

same @lincolnbrito

[2012-06-06 06:49] BenExile commented on #21
Thanks @cahva - I forgot this changed a while back, separating file name and path (using the original file name if an alternative is not provided).

[2012-06-06 06:49] #21 closed, assigned to nobody

[2012-06-06 07:06] BenExile commented on #23
Hi @Caster

The first issue is using `CURLOPT_FOLLOWLOCATION` with safe_mode or an open_basedir set (please advise which one for future reference). If these aren't a requirement then you can disable them, otherwise you will need to disable [`CURLOPT_FOLLOWLOCATION`](https://github.com/BenTheDesigner/Dropbox/blob/master/Dropbox/OAuth/Consumer/Curl.php#L26) by setting it to false.

This is a prevent

[2012-06-10 11:46] Caster commented on #23
Thanks a lot for the hint @BenTheDesigner.

It appeared `safe_mode` was off and hence could not be the issue, but I had an `open_basedir` set. Since I did not want to change this, I set `CURLOPT_FOLLOWLOCATION` to false as you indicated, which resolved the issue.

Cheers!

[2012-06-10 11:46] #23 closed, assigned to nobody

[2012-06-17 13:30] Raketten opened #24 "Callback?"
Hi Ben,

thanks for your lib which I was able to use out of the box, it gets the job done. Now for the refinements.

I only use putFile function/example but my files are pretty big, say 50MB so I would like to entertain the user with progress as the upload is progressing, to make him relax and trust, that all is well.

I was guessing some kind of callback function which would enable me to write x%

[2012-06-18 17:41] artBrown opened #25 "bootstrap.php neither returns nor redirects"
Hello, first of all, thank you for providing us this sdk for a php development of dropbox apps.

I am trying to figure out how to make your kit work on my environment:

mac  OSX 10.7.4
php   5.3.10
apache 2.2.21

once my process gets into a first time of bootstrap.php, it goes to authorize() in consumerAbstract.php with having a pair of oauth_token and oauth_token_sercret acquired from dropbox sit

[2012-06-19 04:25] Raketten opened #26 "Speed"
Hi Ben,

What kind of speed in the upload process can I expect. Everybody needs more, and maybe I am the same.... I upload a 5 Mb file in 15 sec. on a 20/20 connection - is that ok you think?

Sorry to trouble you on this....

Henrik

[2012-06-19 04:39] Raketten opened #27 "Credentials"
Hi Ben,

Is it possible to supply credentials so that user does not have to admit the app each time he upload a new file? I am thinking on moving the upload to a queue as it take so long, and then user cannot hit any buttons for me...

Henrik

[2012-06-23 21:35] twistedpixel opened #28 "Encryption error"
Hey, this looks fantastic but I'm having a little bit of trouble getting started. I'm getting a warning about open_basedir and certain curl functions (I know this is my Plesk server being stupid, even though I disabled open_basedir in both php.ini AND Apache httpd.conf, it is still in effect and I want to strangle it) but the second issue is an error:

Fatal error: Uncaught exception 'Dropbox\Exce

[2012-07-03 07:11] willgdq opened #29 "Can't get your code to work properly"
Hi, I'm trying to get a simple task done (creating folders via your SDK) but I can't even get the examples to run properly.
Right out of the box, I try to run the putFile.php example and all it does it forward me to my Dropbox root directory without uploading any file.

One thing I've noticed is that the putFile.php code doesn't even get to the point of creating the temporary file.  I think the co

[2012-07-03 09:26] BenExile commented on #29
Hi @willgdq

The Dropbox API implements the OAuth protocol, so being redirected to the service providers website should be expected until you have authorised the application and acquired an access token. Do you see any message from Dropbox when the redirect happens? I'll need some more information in order to help - the examples have worked for me on all occasions.

[2012-07-03 09:38] BenExile commented on #27
Hi @Raketten

Users should not need to authorise the app for each uploaded file, just once per session (assuming you're using the default session storage handler I have provided). You can implement your own persistent storage handler if this is what you require, but this is not something I can implement without further planning.

[2012-07-03 11:04] BenExile commented on #28
Hi Scott,

#### cURL & open_basedir

There are known issues with cURL and open_basedir. Please see [here](https://github.com/BenTheDesigner/Dropbox/issues/23) for a similar issue which has been resolved.

#### Encrypter

The Encrypter provides an optional, but recommended feature. The OAuth tokens obtained will be encrypted to AES-256 standard to prevent them being used in replay attacks. OAuth to

[2012-07-03 14:51] willgdq commented on #29
Thank you for the response, Ben!

When I run the test file "putFile.php" I immediately get the page saying my
app is trying to connect to my Dropbox.  I hit Allow and then I'm brought
back to the web page I'm using for testing and launching these example
scripts and the result it nothing gets uploaded to my Dropbox.  Also of
note, when I check my Settings in Dropbox I don't see my app listed under

[2012-07-04 02:10] Raketten commented on #27
Hi Ben,

Thanks for your reply. I eventually went with curl and saved the tokens in my database.

Thanks anyway,

Henrik

[2012-07-04 02:10] #27 closed, assigned to nobody

[2012-07-04 02:10] Raketten commented on #24
Declined

[2012-07-04 02:10] #24 closed, assigned to nobody

[2012-07-04 02:11] Raketten commented on #26
declined

[2012-07-04 02:11] #26 closed, assigned to nobody

[2012-07-04 14:17] BenExile commented on #29
Hi @willgdq

It sounds like a permissions problem on your server. Can you please run accountInfo.php and advise if the API returns your account information as expected? If so, this confirms there is no issue with acquiring access tokens.

[2012-07-04 14:21] BenExile commented on #25
Hi @artBrown

Can you please try and explain the problem more clearly? I don't quite understand what you mean.

Regards,
Ben

[2012-07-04 22:49] twistedpixel commented on #28
Awesome, Thanks Ben.

I'll have a look into these!

[2012-07-05 18:28] willgdq commented on #29
Ben,
Negative.  I tried a link to the accountInfo.php file and I'm again greeted
with the page from Dropbox asking to connect my app, I hit Appove and I'm
brought back to my test page with no account info provided.  So I'm
guessing it's a problem with obtaining tokens.

Any suggestions?
Also, I'm guessing since it cannot get a token, this is the reason I don't
see my App in my Dropbox settings?

T

[2012-07-05 21:03] BenExile commented on #29
Hi Will,

Please Gist/Pastebin your code so I can see your implementation. Can you also provide me with as much information about your platform as possible.

[2012-07-10 03:47] ouewqa opened #30 "Fatal error App folder (sandbox) access attempt failed because this app is not configured to have an app folder."
how to resolve this?

( ! ) Fatal error: Uncaught exception 'Dropbox\Exception' with message 'App folder (sandbox) access attempt failed because this app is not configured to have an app folder. Should your access type be 'dropbox' instead? (Status Code: 400)' in E:\Dropbox\xampp\htdocs\PHP Program\BenTheDesigner-Dropbox-335d6d7\Dropbox\OAuth\Consumer\Curl.php on line 103
( ! ) Dropbox\Exception:

[2012-07-10 11:42] BenExile commented on #30
Hi @ouewqa

You will need to set the application root, either `sandbox` or `dropbox`, depending on the status of your Dropbox application (development/production). This can be achieved one of two ways - either be passing 'dropbox' as the second argument when instantiating the `\Dropbox\API` object, or by calling `$dropbox->setRoot('dropbox')` after the API object is created.

[2012-07-12 09:05] jeffreyflukman opened #31 "How can I see the File List of a root directory?"
Hi, would you give any example about how we can get the file list of a dropbox directory, whether the folder or the file?
I'm still a newbie in this dropbox integration, so I would really appreciate a simple example on how to do it.

Thank's.

[2012-07-12 09:13] Caster commented on #31
Hey @jeffreyflukman,

I know I'm not the developer, but I saw your issue by accident and since I have created a testfile that does exactly this, I thought I might share it with you. There you go.

[code]

Oh, I originally had code to show only the PDF files, but thats not hard, just look at the 'metaData()' information. This is shown in the debug-part. If you remove the `display: none;` line under

[2012-07-12 10:12] jeffreyflukman commented on #31
Hi @Caster ..!
Thx so much for your example here.. it's really helpful..

[2012-07-12 10:14] Caster commented on #31
Hi @jeffreyflukman,

If it solves your issue you can mark the issue as closed. If you would like to see some more examples, please ask. Also don't forget to check out the examples provided by @BenTheDesigner!

[2012-07-12 10:19] #31 closed, assigned to nobody

[2012-07-17 08:02] hypeunion opened #32 "Writing file from file upload form."
Hi Ben, thanks for supplying the code!

I'm having trouble writing a file to my Dropbox account using an upload input in a form. The file is being uploaded properly, and a file named "test.jpg" is being created in Dropbox, but the file created on Dropbox is broken and without contents. My code is below...is there something I've done wrong?

[code]

[2012-07-22 13:16] #28 closed, assigned to nobody

[2012-07-23 14:53] BenExile commented on #32
Hi @hypeunion

You are not using fwrite correctly. The [documentation](http://php.net/manual/en/function.fwrite.php) explains that the second argument is the data to be written to the file. In your example you are simply writing the temporary filename as the file data which is what is causing the JPEG to be corrupt.

If you have a requirement to create an intermediate file look at [move_uploaded_f

[2012-07-23 14:55] BenExile commented on #31
Hi @Caster

Thanks for picking this one up and helping @jeffreyflukman resolve his issue. Much appreciated.

[2012-07-23 14:56] BenExile commented on #30
Closing this issue due to inactivity.

[2012-07-23 14:56] #30 closed, assigned to nobody

[2012-07-23 14:58] BenExile commented on #29
Closing this issue due to inactivity. @willgdq if this problem persists please feel free to contact me.

[2012-07-23 14:58] #29 closed, assigned to nobody

[2012-07-23 15:00] BenExile commented on #25
Closing this issue due to inactivity.

[2012-07-23 15:00] #25 closed, assigned to nobody

[2012-07-24 02:43] ouewqa opened #33 "why first visite dropbox API should need to link to dropbox?"
I have used another dropbox php api, that php api first visit also need to link dropbox, but it can save response in a file,then don't need to link to dropbox any more, Whether or not i delete the cookie or change a browser.

Does this api has the same function?

[2012-07-24 08:43] BenExile commented on #33
Hi,

At present the library does not provide persistent storage. You can add this yourself, though, as a few others have.

This is being addressed by introducing a storage handler built on PDO. Please see recent commits.

[2012-07-31 03:42] hypeunion commented on #32
Thanks for the help Ben!

[2012-07-31 07:13] BenExile commented on #32
No problem! Closing this issue as resolved.

[2012-07-31 07:13] #32 closed, assigned to nobody

[2012-08-08 10:12] bikeshm opened #34 "How to create folder?"
hai,
     How can i create a folder in drop box home directry

$dropbox->createFolder() not working

code:-

$dropbox->createFolder('new_folder','dropbox');

o/p:-

Fatal error: Call to undefined method Dropbox\API::createFolder() in /home/xxxxxxx/public_html/test/Dropbox/examples/sample.php on line 42

plz help.....

[2012-08-08 10:41] BenExile commented on #34
Hi,

The error is as described - createFolder() is undefined. The correct method is create($path), where $path is the path to the folder you wish to create, relative to your root (sandbox or dropbox). Hope this helps.

[2012-08-08 10:45] BenExile commented on #33
Closed due to inactivity

[2012-08-08 10:45] #33 closed, assigned to nobody

[2012-08-08 12:48] bikeshm commented on #34
Hi Ben,

  It is working, thank you sooooooooo much,

and thanks for replying

my code:-

$create_new_folder = $dropbox->create('new_folder','dropbox');

print_r($create_new_folder);

Regards,
Bikesh

[2012-08-08 12:54] BenExile commented on #34
Hi Bikesh,

You're welcome.

Note that you don't need to pass the second argument, it won't do anything. You set your root when instantiating the \Dropbox\API object and it is set for subsequent calls.

[2012-08-09 04:16] bikeshm commented on #34
ok

thanks allot

[2012-08-11 23:02] gowings0 opened #35 "Trouble Getting Started"

[2012-08-12 06:14] #34 closed, assigned to nobody

[2012-08-12 06:23] BenExile commented on #35
This library is intended for use in web apps, so in your browser. You could make modifications to allow execution from the command line, but it won't be seamless as the OAuth flow cannot be completed via CLI alone.

What are you aiming to build?

[2012-08-12 08:26] BenExile commented on #35
Hi,

I am closing this issue as its not related to the library itself. If you have any SDK specific issues please do raise them.

There are plenty of resources that explain how to install and configure a LAMP/WAMP/LEMP stack out there something that I'm not going to explain here.

[2012-08-12 08:26] #35 closed, assigned to nobody

[2012-08-12 08:27] BenExile commented on #35
Once you have your stack installed you'll be able to run the examples and begin to build your application. Good luck!

[2012-08-14 08:26] Timpet123 opened #36 "GetAccessToken"
When trying to use the function i get this error:
Fatal error: Uncaught exception 'Dropbox\Exception' with message 'Request token not found. (Status Code: 401)'

[2012-08-14 08:46] BenExile commented on #36
Hi,

The visibility of getAccessToken() is only public for the purpose of being accessible to the unit test setup script. You should not need to call this method directly.

What are you trying to achieve?

[2012-08-14 08:49] Timpet123 commented on #36
Im trying to make a backup script that can run from a cron job where the user does not need to suply the account credits everytime, but just once doing a setup of the script where I understod i should save and use the access token for further use.

Sorry for the bad english

[2012-08-14 09:17] BenExile commented on #36
Hi @Timpet123

This issue has been raised before. Please see https://github.com/BenTheDesigner/Dropbox/issues/16 for my proposed solution, assuming you aren't going to use the new persistent handler, which stores tokens in a database.

Please advise if you're still having issues.

[2012-08-14 09:57] Timpet123 commented on #36
Since i dont have commandline access i cant run the setup file, i do want to store the tokens in my DB. Perhaps you could create and example on how to do this not useing the commandline?

[2012-08-14 12:00] BenExile commented on #36
Hi,

You don't have to acquire the token on your server, it could be done on your local machine and the resulting oauth.token uploaded afterwards. I'd encourage you to use this method for single user applications as it will reduce the associated overheads.

The examples do describe how to use the persistent storage handler. If it is not clear enough I will try my best to explain.

----- Reply mess

[2012-08-15 14:39] Timpet123 commented on #36
It would be great if you could explain how i could get the access token, store it in my DB (I can do this my self), and then use it further on, but not the commandline way. :)

[2012-08-15 17:41] BenExile commented on #36
The PDO storage handler will provide this functionality. I need to provide the DB table schema, but its not too complex. You could, in fact, check the source for the fields required.

The example usage in bootstrap.php shows how to use a hard coded user ID, which is what you'll want to do to achieve single user access.

[2012-08-16 08:34] bijufun opened #37 "How can I test if user is connected to dropbox or not ?"
is there any standard / inbuilt function to check if user is connected to dropbox or not?

I am implementing your code in one of my wordpress project. I want to sync with dropbox via ajax function if its connected else redirect to dropbox for acess token.

[2012-08-16 09:54] BenExile commented on #37
The library detects whether an OAuth access token has been acquired for the user (either stored in their session or DB). You don't need to detect manually. Please see the examples provided which will automatically redirect you to Dropbox if a token is not available.

[2012-08-16 12:27] bijufun commented on #37
Ya , I agree..

But i need some function like

checkIfLoginInDropbox()

and it returns true / false to me.

I need to make this test and make some decision base on it.

PS : where can i get resource for storing token access in database. I am confused how can i relate my wordpress users with drobox users. Do i need to change the table oauth_tokens?
And is oath_token and user id enough to syn with d

[2012-08-16 13:11] BenExile commented on #37
Hi,

After creating your storage object, you can check if an access token has been obtained for a user by calling get():

[code]

You do not need to manually associate WordPress users with Dropbox users, the library does this by using the unique ID assigned to your users in your own users table as the userID value in the oauth_tokens table.

Hope this helps.

[2012-08-17 04:56] bijufun commented on #37
Will try this..

Really impressed with your prompt reply..
Amazing & Instant support !!!

[2012-08-18 20:19] jacklightbody opened #38 "PDO Storage isn't working (for me at least)"
I am working on a script that uses access tokens.
my current code is this

[code]

however, nothing actually gets inserted into the table. Do I need to call the set method of the PDO helper, or is it something else. Thanks!

[2012-08-18 21:50] BenExile commented on #38
Hi,

Can you advise whether you have error reporting turned on and whether you receive any errors at all? If there was a problem inserting/selecting then PDO would throw an Exception.

FYI, If you already have a token stored in your session the library will use that and not attempt to acquire a new one or retrieve an existing one from the database. Please clear your browser cache and run the appli

[2012-08-18 21:52] BenExile commented on #36
Resolved

[2012-08-18 21:52] #36 closed, assigned to nobody

[2012-08-18 22:12] Timpet123 commented on #36
Fast replys and good service!

[2012-08-18 23:20] jacklightbody commented on #38
Error reporting is set to e_all
Database is empty, so that shouldn't be a problem. What happens is I get stuck in a loop, go to page-> authorize-> go back to page (some get variables are present) hen when I try to go to a new page, the process restarts.

Sent from my iPod

On Aug 18, 2012, at 5:50 PM, Ben Tadiar notifications@github.com wrote:

[2012-08-20 20:52] Donaldini opened #39 "Uncaught exception 'Dropbox\Exception' with message 'Expecting a 32 byte key, got 15'"
When trying to run examples/accountInfo.php I get the following error:

Fatal error: Uncaught exception 'Dropbox\Exception' with message 'Expecting a 32 byte key, got 15' in /Applications/MAMP/htdocs/testing/Dropbox/Dropbox/OAuth/Storage/Encrypter.php:39 Stack trace: #0 /Applications/MAMP/htdocs/testing/Dropbox/examples/bootstrap.php(38): Dropbox\OAuth\Storage\Encrypter->__construct('f5zbh1wef86ro

[2012-08-20 21:22] BenExile commented on #39
Hi,

The key passed to the encrypter is not your consumer key, but a secret encryption key used to secure stored OAuth tokens.

That Exception simply means the key is not long enough. Using the default settings you must provide a 32 byte key - your key is only 15 bytes.

[2012-08-20 21:55] Donaldini commented on #39
Should I then not use this information:
http://i.imgur.com/RF1rn.png

[2012-08-21 01:05] BenExile commented on #39
You need to pass your app key and secret to the OAuth consumer on instantiation as per the example I provided (bootstrap.php). You also need to generate a separate encryption key to pass to the encrypter.

[2012-08-21 16:14] BenExile commented on #38
I'm going to need to see more code. I can't replicate the loop at my end once the token has been obtained.

[2012-08-22 02:59] simwatts2 opened #41 "How do I get the absolute url?"
Racking my brains here, and probably straight forward. but how do I get the full url to use with dropbox. Say i have an image - how would I get to display the image, or file. I can get a json response list but it will only show the name. ie /koala.jpg.

Say I am on localhost/dropbox/getfile.php - , and have an image in the root in sandbox mode. do I append something to the end. Or am I on the wron

[2012-08-23 15:44] BenExile commented on #41
Please see the examples provided. This is demonstrated in getFile.php.

[2012-08-23 18:48] jacklightbody commented on #38
Hi,
What code do you want? I haven't changed bootstrap.php from other than the storage part and filling in the secret/public keys. I can try to get a demo up too, if that would help.

[2012-08-23 21:45] simwatts2 commented on #41
Hi Ben. Thanks for your work on this project.

The Abolute path to was not given in this. I found a solution by using media.
ie $dropbox->media($path);

This gives a complete link, that expires in 4 hours.

Getfile only gives the name of the file in the link, ie koala.jpg, of foo.txt.

ie with get file  -/koala.jpg

with media - https://dl.dropbox.com/0/view/3vp7wu77ikiafe4/Apps/appname/koala.jpg

[2012-08-23 22:21] simwatts2 opened #42 "add input box to putfile"
How can I go about implementing this.

$FilePath = "c:\user\test\koala.jpg";

 $put = $dropbox->putFile($FilePath);

or

 $put = $dropbox->putFile("c:\user\test\koala.jpg");

This works great.

How can I add a simple input box to get local file, and pass this to putfile.

Obviously cant use full path to security restrictions.

[2012-08-25 02:53] jacklightbody commented on #38
Never mind, sorry to waste your time. I was routing to a 404 and stopping execution before the boostrap file was being loaded.

[2012-08-25 02:53] #38 closed, assigned to nobody

[2012-08-26 08:15] BenExile commented on #42
Hi,

You can achieve this in the same way as uploading any file. You'll need to create a form element of type 'file' and ensure you set your enctype to multipart/form-data. Once the form is posted, you'll be able to access it via it's temporary location detailed in the $_FILES superglobal i.e. $_FILES['element_name']['tmp_name'], and use this path in your API call.

Hope this helps.

[2012-08-26 14:16] simwatts2 commented on #42
Hi Ben, thanks for reply. Will this upload, or post, to my server first. I am trying to avoid this if I can. I mean if a user uploaded some media. Does it upload the whole media to my server first as a tmp file.

[2012-08-27 14:08] BenExile commented on #42
Hi,

Your server is the intermediary step between the browser and Dropbox. Whether you use a simple form or an upload handler (such as Plupload), you'll need to post the file data to your server in order to upload it via the web API.

Off the top of my head, and having consulted someone else, PHP will wait until the file is received before you can access it. There's probably a way to get PHP to ha

[2012-08-29 12:28] BenExile commented on #41
Hi Simon,

Sorry, I misunderstood what you were asking. Correct, the media/ call will allow you to link directly to that file.

[2012-08-29 12:28] #41 closed, assigned to nobody

[2012-08-29 12:28] #42 closed, assigned to nobody

[2012-08-29 12:29] #39 closed, assigned to nobody

[2012-08-29 12:30] #37 closed, assigned to nobody

[2012-09-10 14:35] alexdemers opened #44 "Needs a way to delete the session and reconnect the session again"
Hi Ben,

Excellent library. Our product is almost done except one bug (or something I don't understand with OAuth tokens. I need a way for the user to delete the connection with Dropbox via our third-party service. I figured I just delete the row in oauth_tokens table that you provided. Afterwards when trying to connect again, I get "Token is not an authorized request token. (Status Code: 403)" ev

[2012-09-10 21:31] BenExile commented on #44
Hi @alexdemers

I've addressed this issue in commit 19852f8. Please pull the changes and advise whether your problem persists.

[2012-09-10 21:39] alexdemers commented on #44
As I am not familiar with git/Github, I applied the changes manually in the code and it did worked. This also fixed the issue where one would see the Dropbox page to login, but instead leaves the page and goes back to the application. Because the request_token was there but not the access_token, the library would think that it had a correct access_token. It assumed that the user was entering his D

[2012-09-11 22:22] BenExile commented on #44
Hi,

I've added methods to each of the storage handlers to delete tokens from the session and filesystem/database (see commit eb260c7). You can simply call `$storage->delete()` to make use of this feature.

To give the user peace of mind that your application can no longer interact with Dropbox on their behalf, you can instruct them to visit https://www.dropbox.com/account#applications and revoke

[2012-09-14 17:57] alexdemers commented on #44
That's awesome Ben! I'll implement this in my application :D

[2012-09-30 19:35] hipwebdesign opened #46 "Skip User Authorization?"
I'd like to output a list of download links to files in one of my folders.

These links should be downloadable regardless of whether the visitor has a Dropbox account or not.

I can't seem to output my content without first obtaining an authorization token for a Dropbox user.

Is this possible?

[2012-09-30 20:22] BenExile commented on #46
Hi,

The easiest way to do this would be to use the FIlesystem storage handler and a fixed user ID (code provided in examples). Once you obtain an access token for the user ID, it can be used for subsequent requests without requiring the user to authorise your app.

[2012-09-30 20:24] BenExile commented on #44
Thanks, Alex. This issue is now closed.

[2012-09-30 20:24] #44 closed, assigned to nobody

[2012-10-01 02:57] hipwebdesign commented on #46
Thanks for such a quick answer -- and a great SDK!

[2012-10-01 02:57] #46 closed, assigned to nobody

[2012-10-01 07:42] BenExile commented on #46
No problem, glad I could help :)

[2012-10-03 00:08] cha0ss opened #47 "Chunked upload does not upload on windows, but works fine on linux"
Hi.

First i tested everything on linux , and it works fine .... but then i switched to windows , and encountered a problem with chunkedUpload  function , though putFile works fine.

First error was  'Too long upload' , but as i understood if file is smaller than chunk , then it fails. Am i correct ?

But after supplying larger file i got another error (  Fatal error: Maximum execution time of 30

[2012-10-03 12:00] BenExile commented on #47
Hi,

I've not experienced this problem but will try and help you based on the limited information I have about the issue.

##### Execution time

Execution time will vary from system to system. The example I've provided gets round this by calling `set_time_limit(0)`, which allows the script to run indefinitely. I've uploaded files of around 500MB in size under Windows - can you advise if you're usi

[2012-10-04 17:15] kspam opened #48 "Simultaneouse upload"
I've found that if I put a file to 2 (or more) users in the same time. One will upload and another will queue. Second one will upload until previous one complete. Is it possible to upload simultaneously?

[2012-10-04 20:02] BenExile commented on #48
This library provides no way to upload files to multiple Dropbox accounts at once. I won't be implementing this any time soon, if at all.

If you are uploading the same file, I'd consider looking at the copyRef call, which will copy files from one Dropbox to another, reducing execution times and bandwidth overheads dramatically.

[2012-10-10 19:09] ratok opened #49 "Access all folders"
Hi,
I'm trying to upload a file into a specific folder in my dropbox root, using:
$put = $dropbox->putFile($tmp, 'api_upload_test.txt', 'MyFolder');

I get always the error message: 'App folder (sandbox) access attempt failed because this app is not configured to have an app folder. Should your access type be 'dropbox' instead? (Status Code: 403)'.

The app was created with the setting Access type

[2012-10-10 20:20] BenExile commented on #49
Hi,

You can either pass 'dropbox' as the second argument when instantiating the \Dropbox\API object, or call $dropbox->setRoot('dropbox') after instantiation. Hope this helps.

[2012-10-10 21:25] ratok commented on #49
Great, thanks a lot. Perfect.

[2012-10-11 19:15] BenExile commented on #49
You're welcome

[2012-10-11 19:15] #49 closed, assigned to nobody

[2012-10-12 16:15] numbleroot opened #50 "Object-oriented Autoload Function"
Hey,
is there a way to implement this special autoload function to include the unknown new class instances in a way, that it is possible to use the existing code in a self-written class?
I'd like to put all important things from bootstrap.php into the __construct() function of a class that needs connection to my Dropbox. The existing instanciating-syntax ("new \Dropbox.....") should work in this _

[2012-10-12 17:11] BenExile commented on #50
Hi,

This library conforms to PSR-0 and so will be compatible with any PSR-0 autoloader.

If you don't currently use an autoloader it may be worth looking at implementing one for the project rather than for this library specifically. If this is not an option you can copy/paste the function from bootstrap.php and adjust the paths.

Hope this helps

[2012-10-12 20:26] ghost opened #51 "Timezone Problem"
First, thank you for this. The code works great.

Now, my problem: In an array created by $dropbox-metaData all my files have the right time displayed but are in the wrong timezone. The timezone is set to Europe/Berlin.

Do you know how to change the timezone?

Thanks in advance.

[2012-10-12 21:26] BenExile commented on #51
Hi,

Please provide more detail, the response received from the API along with what is wrong and what you'd expect the correct result to be.

[2012-10-12 21:26] BenExile commented on #48
Closed due to inactivity

[2012-10-12 21:26] #48 closed, assigned to nobody

[2012-10-12 21:27] BenExile commented on #47
Closed due to inactivity

[2012-10-12 21:27] #47 closed, assigned to nobody

[2012-10-12 21:37] ghost commented on #51
Hi, sorry about that.

I am loading every file in an App folder to an array using the $dropbox-metaData. When I check the "modified" value or the "client_mtime" of a file the times are listed in the wrong timezone (Europe/Berlin). I checked my account settings on Dropbox and my account is set to the correct timezone (New York).

I would like to have the times listed in the correct timezone (New Yo

[2012-10-12 22:00] BenExile commented on #51
No problem. All times should be returned as GMT as detailed by the API documentation. If you require these in your local time you'll need to format them yourself. Something similar to the code below should help you:

[code]

[2012-10-12 22:11] ghost commented on #51
Whoops, I must have overlooked that. That makes perfect sense.

Keep up the great work!

[2012-10-13 00:16] numbleroot commented on #50
Okay, great, thanks!

[2012-10-13 00:16] #50 closed, assigned to nobody

[2012-10-13 06:34] BenExile commented on #51
Thanks :)

[2012-10-13 06:34] #51 closed, assigned to nobody

[2012-10-26 14:22] anletbel opened #52 "Uplaod uin my account"
I want to upload from a web form, files to my Dropbox folder.

My problem is I always ask q are logged into does not use my account information to log.

And would require that anyone from anywhere up my account info.

How I can fix this?

[2012-11-18 04:26] miroslavw opened #53 "OAuth Access Grant"
Hello please pardon my ignorance but I would like to use a single shared dropbox account in a business application that only requires access to be granted once and will be accessible across browsers and without expiration. Is this possible? It seems as though I can authenticate/grant access once in Chrome browser and functionality works fine but switching over to Firefox for testing requires that

[2012-11-18 13:51] BenExile commented on #53
Hi Miro,

It sounds as though you're attempting to achieve persistent storage using the session storage handler. This is not possible, and you will need to re-authenticate for each session. You can use the PDO or Filesystem storage handlers to achieve what you describe - an example of usage can be found in examples/bootstrap.php. Hope this helps.

[2012-11-18 20:33] miroslavw commented on #53
Ah thank you Ben I had an old copy of the files - will update now.

[2012-11-28 08:27] samatrouh opened #55 "Catchable fatal error: Object of class stdClass could not be converted to string in /Applications/XAMPP/xamppfiles/htdocs/dropbox/Dropbox-master/Dropbox/OAuth/Consumer/Curl.php on line 103"
Hi,
In the examples, when I try to upload a small file to the server but get the following error  `Catchable fatal error: Object of class stdClass could not be converted to string in /Applications/XAMPP/xamppfiles/htdocs/dropbox/Dropbox-master/Dropbox/OAuth/Consumer/Curl.php on line 103`. Please let me know what details you need to grab of my system.

Any help is greatly appreciated.
Cheers,
Sam

[2012-11-28 19:28] freemann opened #56 "Let getAuthoriseUrl return a plaintext url"
Why does getAuthoriseUrl(), in the test download,  returns a plaintext url and redirect me in a browser?
I need the url, but i can't figure out why it redirects me in stead of returning a plaintext url.

Who can explain to me, how i can get this work?

[2012-11-28 19:50] #53 closed, assigned to nobody

[2012-11-28 19:51] BenExile commented on #52
Apologies for the late reply. I don't understand your problem so if you're still having this issue, please comment again as clearly as possible.

[2012-11-28 19:58] BenExile commented on #56
Hi @freemann,

At present, the constructor for the cURL consumer automatically calls the authenticate() method of the parent class, which redirects you if you're not authenticated. I may patch this so auto-redirecting is optional, but will default to true to provide backwards compatibility for those already using the library.

It makes sense that you can choose what to do if a user isn't authentic

[2012-11-28 20:04] freemann commented on #56
Hi @BenTheDesigner,

thanx for the very quick and positive response on my question/problem.

Hope to se the patch soon and i want to thank you in advance for you're time and work!

Regards,
Marco (Freemann)

[2012-11-29 12:01] freemann opened #57 "How to check of there is a token in DB?"
Is it possible, with Dropbox and DB support, if there is a token in the DB?

I ask this, because i want to now if i need to ask the user to attach with Dropbox or that i don't need to bother the user with this question because we already have a (working) token saved.

I hoped that  "storage->get('request_token')" would give me a token OR returns false, so i could add some logic on what to do next.

[2012-11-30 07:49] freemann commented on #56
Hi @BenTheDesigner,

I don't want to pressure you, what do you mean with "Expect an update by the end of the week"?
At the moment i'm "waiting" on the fixes (see my other issue, everything goes through authentication and redirects to Dropbox).

Thanks and best regards,
Marco

[2012-12-07 09:14] freemann commented on #57
I moved to a other lib/class, please close this ticket.

[2012-12-09 10:01] #57 closed, assigned to nobody

[2012-12-09 10:01] #56 closed, assigned to nobody

[2012-12-11 05:16] enkay opened #58 "Bootstrap as a class"
Is there a way to wrap this bootstrap into a class as to not have variables interfering with the rest of the code? I'm trying to do that but keep running into road blocks.

Suggestion: The integrated storage makes it a lot harder to modify the code. Storing tokens in a users database could be left to developers as a way to streamline this API.

Maybe something like this would be easier to integrat

[2012-12-11 17:51] Jamesking56 opened #59 "Needs a Wiki"
Hello,

This is quite confusing to implement. Could you possibly put together a wiki here on GitHub will detailed instructions on how to use it?

[2012-12-19 01:41] chrisamoore opened #60 "Utilize Dropbox as only one user."
Hi Ben,

What would you recommend for using the API, as only our Company to manage all of the files in a single directory or subset of directories, Preferably using the shares method to grant access when needed...via automated scripting.

I set :

[code]

And Use this Method on first Auth of my app. (I have noticed that the uid is not properly set in the DB once this insert is made, it starts at t

[2012-12-19 20:15] BenExile commented on #60
Hi Cam,

The database storage handler assumes you have a user ID either from an existing user table, or a fixed/faux ID like the example I've provided (this is useful if you need a single access token to be used for multiple users - sharing a Dropbox, effectively). See the example code below:

[code]

When the `$userID` is passed to the storage object, it is set up to retrieve and use the token st

[2012-12-19 20:18] chrisamoore commented on #60
Solid, I actually have it all nailed down and thank you for your rapid response.

[code]

via the bootstrap.php
its actually not that complex once I looked at it deeper.

Thanks!!

[2012-12-19 20:18] #60 closed, assigned to nobody

[2012-12-19 20:28] BenExile commented on #60
Glad to help :)

[2012-12-19 20:37] BenExile commented on #58
Hi @enkay

The sole purpose of the bootstrap is for inclusion by the examples provided. You should not be including it in your application as-is. You need to take the parts from the bootstrap that are relevant to you, and put just those into your application - that way you don't have unnecessary variables defined. What 'road blocks' have you come across?

If you could elaborate on why the storage

[2012-12-19 20:38] BenExile commented on #52
Closed due to inactivity

[2012-12-19 20:38] #52 closed, assigned to nobody

[2012-12-19 20:41] BenExile commented on #55
Hi Sam,

Sorry for the delayed reply - been stacked. Are you still having this issue? If so please provide as much information as possible about the request that was sent that resulted in this error. I've not come across it and have, as you can imagine, been uploading/downloading files of all sizes and types.

Thanks

[2012-12-19 20:46] BenExile commented on #59
Hi James,

I may put together a wiki but it is not going to happen any time soon, I'm afraid. What is it you're struggling with or confused about? I'm happy to help via email if you don't feel it's something for GitHub issues.

It's not a complicated library to use and there are working examples provided. Have you taken a look at these?

[2012-12-23 22:14] vanderwijk opened #61 "How can I get the size of a folder"
I am trying to find out how to display the total size of a specific folder. When I do `$dropbox->metaData('Folder Name')` the result always shows `[bytes] => 0` and `[size] => 0 bytes` even when there are files inside the folder.

Is there a way to get the folder size or is this a bug with Dropbox?

[2012-12-24 11:28] vanderwijk commented on #61
For future reference; I Came up with this code which adds up the sizes of all the files inside a folder to find out the size of the folder:

`function mx_check_dropbox_size( $folder ) {
    global $dropbox;
    $foldersize = 0;
    $foldercontents = $dropbox -> metaData( $folder );
    foreach( $foldercontents["body"] -> contents as $file ) {
        $foldersize += $file -> size;
    }
    if ( $f

[2012-12-28 21:36] MKxDev opened #62 "Decouple SDK implementation from Mysql"
I'd really like to use this SDK but it looks like I'm forced to use mysql as the only storage provider (without modifying the sdk). It'd be extremely nice to be able to choose the type of storage provider (mysql, sqlite, pg, sql server) or be able to easily drop my own. Just something to thing about.

[2012-12-28 23:58] BenExile commented on #62
You can roll your own storage handler. Check out the ones already provided for Session, Filesystem and PDO.

Sent from my HTC

----- Reply message -----
From: "MKxDev" notifications@github.com
To: "BenTheDesigner/Dropbox" Dropbox@noreply.github.com
Subject: [Dropbox] Decouple SDK implementation from Mysql (#62)
Date: Fri, Dec 28, 2012 21:36
I'd really like to use this SDK but it looks like I'm for

[2012-12-29 00:00] cyruskafaiwu opened #63 "Offline Usage"
Hello,

Sorry for the lame question. For running processes like putting a file in someone's dropbox without them being on the website, is there any specified way of doing it.

I haven't seen anywhere where I can just send the access token that was added when the user first authorized the app and run operations without the user being on the website.

Thanks

[2012-12-29 00:19] BenExile commented on #63
There's no specific example for this at the moment, you'd just need to ensure you used the access token acquired for that user when making the API call.

Example: If you know the user has ID 1 in your system, and you're storing tokens using the PDO handler, make sure the user ID passed to the storage handler is 1.

I'm very busy at the moment but will try and put an example together if this doesn'

[2012-12-29 00:48] cyruskafaiwu commented on #63
It makes total sense. Thanks!

[2012-12-29 13:28] BenExile commented on #63
No problem :)

[2012-12-29 13:28] #63 closed, assigned to nobody

[2012-12-29 21:54] MKxDev commented on #62
Yep, I see it now. I jumped the gun on that one.

[2013-01-03 08:15] andremitra opened #64 "You may wish to add support for retrieving long urls in shares(...) because they do not expire like in media(...) and replacing 'www' by 'dl' gives direct access to the file."
[code]

[2013-01-03 08:36] talkingnews commented on #64
Hmmm, this is odd - I did a Github pull request, made this change and pushed it back over 3 months ago. I wonder if it somehow didn't get merged in? Anyway, here's my commit: https://github.com/talkingnews/CodeIgniter-Dropbox-API-Library/commit/c28abe4d7d5f02fbe6d77bffdeac68138a952eb3

[2013-01-03 09:54] BenExile commented on #64
@talkingnews - Not received a pull request for this feature to date. The repository in the commit above is not a fork of this project. Are you sure you sent a pull request to me?

@andremitra - This has been addressed in commit c6aa027a97

[2013-01-03 10:30] talkingnews commented on #64
@BenTheDesigner Ooops! Many apologies - how embarrassing! You're quite right, it was for "the other library".
I got confused because I started off with yours as it was more comprehensive, but then had to switch to "the other one" as, _at the time_, it offered an easier way to store the tokens in a db so users could auth by site login rather than dropbox each time.
Going to have another look at you

[2013-01-03 10:38] BenExile commented on #64
@talkingnews No problem at all. For a while my library only supported session based storage - I guess I was hoping for contributions :D. This didn't happen and so I wrote the PDO handler, and then later a filesystem storage handler was contributed and merged with a few modifications. The library is flexible in that you can write your own custom handlers - I thought this may be required where, for

[2013-01-03 10:56] talkingnews commented on #64
Oh, I remember the other reason - I switched to using PyroCMS which was based on Codeigniter, and "the other library" came with a handy Spark. Being a newb back then, I found that easier. Now I know a bit more about CI, I might have another go at yours. I see you've got a Sparks account - could we persuade you to make a Spark of this library? I'd have a go myself, but I'm not up to scratch that mu

[2013-01-03 11:01] BenExile commented on #64
I only got involved with CodeIgniter because a freelance client of mine at the time used it as their chosen framework. I no longer take on private projects and haven't been used CodeIgniter in ~9 months.

What I'd recommend is checking out compatibility between CodeIgniter and Composer and integrating this library that way. At this time I don't think I'll create a spark for it - sorry to disappoin

[2013-01-04 17:34] Blacx opened #65 "Token is Invalid"
Dear @BenTheDesigner ,

I got this notice :

<pre>
Notice: Undefined property: stdClass::$oauth_token in C:\xampp\htdocs\dropbox\Dropbox\OAuth\Consumer\ConsumerAbstract.php on line 165

Notice: Undefined property: stdClass::$oauth_token_secret in C:\xampp\htdocs\dropbox\Dropbox\OAuth\Consumer\ConsumerAbstract.php on line 197
array(3) { ["code"]=> string(3) "401" ["body"]=> object(stdClass)#7 (1) {

[2013-01-04 19:11] BenExile commented on #65
Hi @Blacx

You will need to delete the invalid token and re-authenticate. Which storage handler are you using? I'll try and replicate this issue.

[2013-01-05 01:24] Blacx commented on #65
Hi @BenTheDesigner ,

I've tried to delete a token record in the database and even tried to remove all the session even though I am using PDO storage. But still It can't, because the problem is I do not understand how and using what methods to do re-authentication. Thank's for your fast response.

[2013-01-05 07:54] BenExile commented on #65
Hi,

Re-authentication should simply be running one of the examples again. The storage object should fail to retrieve a token for you redirect to the authentication page.

If you've deleted the token from the database and from the session, it could suggest the token you deleted is not the correct one. Have you double checked there is no token stored for your user ID?

[2013-01-05 08:13] Blacx commented on #65
Hi @BenTheDesigner ,

The real problem occurs when I <b>remove</b> my application permissions from dropbox. Then I try to <b>re-access</b> the examples and hope to perform a page "Api Request Authorization" again from dropbox, but not so. All of the examples you have gives me an error "Token is invalid" and "Authentication failed".

Then I try to run $storage->delete() method, clear the records fr

[2013-01-05 08:53] BenExile commented on #65
Removing the application from Dropbox will cause the API to return a 401 and authentication will fail. This is the intended behaviour.

I have tested this morning by revoking access to my application, deleting the token form the database and clearing my session. Once this is done and I access the examples again, all works as expected.

Are you able to Pastebin the code that sets up the Dropbox obj

[2013-01-05 09:30] Blacx commented on #65
Yes, I create the logout php:

<?php
require_once('bootstrap.php');
$storage->delete(); // I'm using PDO storage
session_unset();
session_destroy();
header('location:accountinfo.php');
?>

cmiww.. :(

[2013-01-05 10:35] Blacx commented on #65
![Dropbox](https://f.cloud.github.com/assets/1876100/44952/7b2572a2-5723-11e2-9a1a-c2596ce5e85b.jpg)

[2013-01-05 13:08] BenExile commented on #65
Thanks for the detailed description of the error. I'll investigate and get back to you, hopefully tonight but maybe tomorrow - sorry it can't be sooner.

[2013-01-05 15:56] Blacx commented on #65
I hope so. Thank you very much in advance.

[2013-01-06 01:33] Blacx commented on #65
![Dropbox2](https://f.cloud.github.com/assets/1876100/45605/1c0ccef4-57a1-11e2-876e-628a65385c7a.png)

[2013-01-11 07:59] henrylevak commented on #65
Any progress on this guys? I'm running into the same issue..

[2013-01-11 08:54] BenExile commented on #65
Hi @Blacx & @henrylevak

Unfortunately I am unable to replicate this issue. When I revoke a token a \Dropbox\Exception is thrown as expected. I have modified the cURL consumer to use the response code as the Exception code so we can handle this.

I have also updated the accountInfo example to catch this Exception and handle it appropriately, deleting invalid tokens and re-authenticating. I've uplo

[2013-01-11 10:53] #64 closed, assigned to nobody

[2013-01-11 10:53] BenExile commented on #62
Issue resolved - closed.

[2013-01-11 10:53] #62 closed, assigned to nobody

[2013-01-11 10:54] BenExile commented on #55
Closed due to inactivity

[2013-01-11 10:54] #55 closed, assigned to nobody

[2013-01-11 10:54] BenExile commented on #58
Closed due to inactivity

[2013-01-11 10:54] #58 closed, assigned to nobody

[2013-01-11 11:01] BenExile commented on #61
Dropbox will always return `0 bytes` for a directory as described [here](https://www.dropbox.com/developers/reference/api#metadata). It's a shame because to get the size of a folder, including files and folders within, you have to make several API calls. You could contact Dropbox regarding this issue but it is not something I can address, unfortunately.

[2013-01-11 11:01] #61 closed, assigned to nobody

[2013-01-11 11:05] BenExile commented on #59
Closing due to inactivity. Wiki will be addressed but not as a priority.

[2013-01-11 11:05] #59 closed, assigned to nobody

[2013-01-11 15:19] Blacx commented on #65
Hi @BenTheDesigner ,

I have tried your update and it <b>worked!</b> on accountInfo.php, getFile.php, metaData.php, putStream.php, chunkedUpload.php, and shares.php, now an invalid token has been erased from the storage so that the re-auth has returned to work. (@henrylevak)

I am very grateful for your efforts in helping me.
I think this issue should I close, but there are still issues which I wi

[2013-01-11 15:19] #65 closed, assigned to nobody

[2013-01-11 15:52] vanderwijk commented on #61
Hi Ben, thanks for your reply. I have contacted Dropbox about this and their response was that my feedback would be passed on. Not sure if this means that they will actually do something about it :)

[2013-01-11 15:53] Blacx opened #67 "Expecting a file upload (Status Code: 400)"
Dear @BenTheDesigner ,

I'm having an error when running putFile.php.

The error message that appears is as follows:
<code>Catchable fatal error: Object of class stdClass could not be converted to string in C:\xampp\htdocs\dropbox\new\Dropbox\OAuth\Consumer\Curl.php on line 103</code>

But I tried to change <code>$response['body']->error</code> on  \Dropbox\OAuth\Consumer\Curl.php file at line 103

[2013-01-11 16:49] BenExile commented on #65
Hi @Blacx

There was no fundamental change to the library that would have fixed this, just the way the 401 returned from Dropbox was handled. Please send over the additional issues.

[2013-01-11 17:23] henrylevak commented on #65
@BenTheDesigner Hey Ben, thanks for the quick turnaround on this. I can also confirm that the changes you made resolved my issue. Funny how we two of us ran into the exact same issue - almost at the same time. Thank you!

[2013-01-11 17:31] BenExile commented on #67
Hi @Blacx

The fatal error is due to Dropbox returning an object as the error message. I have submitted a ticket to Dropbox as `$response['body']->error`, to my knowledge, has always been a string. I'll need to wait for their response before I can reliably fix this issue (it might be a problem on their end).

The Exception thrown suggests no file was uploaded but I have not seen this since the ver

[2013-01-11 18:07] henrylevak commented on #67
@Blacx I'll test it when I get home tonight - I was able to successfully upload files earlier this week - but I'll try it later tonight as well.

[2013-01-11 18:26] Blacx commented on #67
@BenTheDesigner :
Yes, I am having the same problem when I enter the address of the file directly as a parameter of putFile () method. If it is the intention of 'permanent' you mean Ben.

ex: <code>$put = $dropbox->putFile ('C:\directfile.txt', 'api_upload_test.txt');</code>

@henrylevak : I hope it help me.

[2013-01-11 22:13] BenExile commented on #67
I do have confirmation from Dropbox that the API returns error messages inconsistently... Useful! This is being looked at by their team, but I'm told the likelihood is that this behaviour won't be changed in version 1 of the API.

I'm still unable to replicate the error with uploading files but have addressed the code that was triggering the fatal in commit 5bbf95b5b36f4da9d43a52c8c96e9b20d2759368

[2013-01-12 19:13] henrylevak commented on #67
Sorry to disappoint all but I haven't had any time to check on this. I had to finish a feature last night and ran out of time . I'll try again tonight :(

[2013-01-12 19:59] BenExile commented on #67
No problem! @Blacx - Can you advise if this problem occurs for all uploads or just some of them?

[2013-01-13 06:53] henrylevak commented on #67
So I used @Blacx 's code and had no problems what so ever..

<?php

require_once('bootstrap.php');
try {
    $tmp = tempnam('/tmp', 'dropbox');
    $data = 'This file was uploaded using the Dropbox API!!!!!';
    file_put_contents($tmp, $data);
    $put = $dropbox->putFile($tmp, 'api_upload_test1.txt');
    unlink($tmp);
    var_dump($put);
} catch (\Dropbox\Exception $e) {
    var_dump($e);
}

Th

[2013-01-13 10:00] BenExile commented on #67
Same for me @henrylevak. I'll need to get a 5.3.1 install up and running to see if I can replicate.

[2013-01-13 10:56] Blacx commented on #67
Hi @BenTheDesigner only <b>putFile.php</b> is problematic for me, the other work normally even <i>putStream.php</i> also work well.
I would be very delighted if you intend to try it in version 5.3.1 ben. Thank you very much in advance.

And thank you @henrylevak to try and provide information.

[2013-01-14 17:12] Bugster opened #68 "Session caches are shared between instances"
When a storage is created with an id, subsequent storage instances will use the same cache, meaning they access files from the first user's dropbox account, instead of the one specified.

This is only a problem if multiple users are accessed in 1 session, e.g.

[code]

Both files are referencing the same file, even though $storage and $dropbox are destroyed.
The keys for User1 are stored in the se

[2013-01-14 18:10] #68 closed, assigned to nobody

[2013-01-14 18:23] BenExile commented on #68
Hi @Bugster

Thanks for raising this issue. I hadn't encountered it as until now I've only been testing access to a single Dropbox account at any one time (clearing sessions and tokens stored in the database in between switching accounts).

I have patched the library to allow for multiple users Dropbox account to be accessed by storing tokens in the session by user ID ($_SESSION['dropbox_api']['us

[2013-01-14 19:48] BenExile commented on #67
Hi @Blacx

I'm unable to replicate this issue under 5.3.1. It's very strange that this only affects the putFile method, too. Can you advise if the problem persists and if you've found out any more about the issue?

[2013-01-15 03:51] Blacx commented on #67
Hi @BenTheDesigner,

I was trying to execute putFile in PHP 5.3.18 and the result goes perfectly. But it's weird and still not be another clue to run it in PHP 5.3.1.

<i>Still trying to solve the problem while waiting for a solution.</i>

[2013-01-31 04:04] cyruskafaiwu opened #69 "Using API within a function."
Hello,

Not really an issue. But I want to know how I could use the API within a php regular function.

Here's what I have:
function dog() {
        global $mysqli;
        global $project;
        global $setting;
        global $db_setting;
        $userID = $destination['dropbox_id'];
        require_once('../dropbox_bootstrap.php');
        $put = $dropbox->putFile($path.'/'.$filename, $backup

[2013-01-31 09:19] BenExile commented on #69
Hi @cyruskafaiwu,

The error message, "error", you're seeing does not relate to the library but this line in your bootstrap file: `if($backup_system != "1") { die("error");}`. Try ensuring `$backup_system == 1`?

Unfortunately I'm unable to support custom code, but if you still have issues with the library once this is resolved then I'm happy to help.

[2013-02-01 13:22] JoniJnm opened #71 "PDO should call parent on delete"
Hi,

I think that in PDO::delete() you should call Session::delete().

So, it looks something like:

[code]

[2013-02-01 14:02] BenExile commented on #71
Hi @JoniJnm,

It does - Please see [here](https://github.com/BenTheDesigner/Dropbox/blob/master/Dropbox/OAuth/Storage/PDO.php#L152-L168) and ensure you have pulled the latest changes, though this was added a while ago.

[2013-02-01 14:17] BenExile commented on #67
Hi @Blacx,

Unfortunately I'm still unable to replicate this. Do you have any more information about what might be causing the issue?

[2013-02-01 15:24] JoniJnm commented on #71
Oh, sorry! It's ok ^_^

I had other version

[2013-02-01 17:06] #71 closed, assigned to nobody

[2013-02-03 22:30] #69 closed, assigned to nobody

[2013-02-03 22:34] cyruskafaiwu commented on #37
Sorry for the bump. But, the code that you posted will be able to detect if the user has authorized the connection between the program and Dropbox.

And what happens if the user, deletes the application from his dropbox account.

[2013-02-03 23:12] cyruskafaiwu opened #72 "Odd Question: what if user removes application"
If the user, removes the application from dropbox.

Is there any way we can figure out if they did so or not?

[2013-02-04 00:09] BenExile commented on #72
The API will return an error with status code 401. I am working on better error handling, but for now you can try/catch your API calls and delete tokens if a 401 is returned.

[2013-02-04 00:15] BenExile commented on #72
Also, if you comment on a related issue, please give me a chance to respond and don't create a new one ~10 minutes later.

[2013-02-04 06:10] Blacx commented on #67
Hi @BenTheDesigner,

I do not have a solution as well. While I still think that the error occurred because of PHP version 5.3.1 that I use.

[2013-02-04 20:02] BenExile commented on #67
PHP 5.3.1 does meet the minimum requirement and all code to date is tested under that version. I'll leave this issue open so others can comment if they experience the same issue. Sorry I can't help more on this occasion.

[2013-02-08 15:55] Tklaversma opened #73 "Bootstrap > failed to open stream"
NVM thank you

[2013-02-08 16:03] #73 closed, assigned to nobody

[2013-02-10 19:33] Tklaversma opened #74 "Sending files from FTP to Dropbox"
Hi Ben,

First of all, amazing plugin! Thanks for that..
Now my problem..

I would like to send files from FTP to Dropbox. I've already managed to access my files on ftp. The only problem is, how do I 'copy' those files into variables and send them to dropbox. I altered your putFile.php example to the following:

<pre>
// Require FTP class
require_once '../classes/ftp.class.php';
$ftp = new FTP();

[2013-02-10 22:36] BenExile commented on #74
Hi Tim,

As the file is on a remote server (I'm assuming this as you wouldn't connect via FTP to localhost) you will not be able to upload it to Dropbox unless you download the file to the local machine first, then upload using either the putFile() or chunkedUpload() method.

Let me know of you need further advice.

[2013-02-10 22:45] Tklaversma commented on #74
Hi Ben,

Thanks for quick response.

Ah I see. In that case, I do need your help.

The whole idea is to create cronjob that creates a backup of a website and then pushes it to Dropbox. Since it will be a cronjob - in other word, no local machine - how do I temporarily save files that I download from FTP so I can push them to Dropbox with the current example?

I understand this is a little of topic

[2013-02-11 19:06] BenExile commented on #74
Hi Tim,

By local machine I mean the box PHP is installed on (the one the cron is running on).

How you download them to this machine first depends on the FTP class you're using - is this something you wrote yourself?

Theoretically you would download all the files you need via FTP, prepare your backup (ZIP or similar) and then upload to Dropbox. I'm unable to provide much more support on this as

[2013-02-12 12:41] Tklaversma commented on #74
I understand. You may close this topic.

Thank you.

[2013-02-12 19:47] #74 closed, assigned to nobody

[2013-03-14 14:15] hiwatt opened #75 "Include error when setting magic_quotes_gpc = Off in php.ini"
Thanks for your wonderful API. It works (almost) perfect:

When I set "magic_quotes_gpc = Off" in php.ini I get the following error:

Warning: require_once(PDO.php) [function.require-once]: failed to open stream: No such file or directory in /path/bootstrap.php on line 26

Fatal error: require_once() [function.require]: Failed opening required 'PDO.php' (include_path='.:/usr/lib/php') in /path/boo

[2013-03-14 14:40] chrisrollins65 opened #76 "The cURL OAuth consumer requires the cURL extension"
I'm using wamp with php 5.4.3. I've activated curl and checked phpinfo and the error log to make sure it's enabled. I'm trying to test this out, setting it up through cmd on Windows 7 x64, but I'm getting a bunch of undefined constant errors as pasted below. Any idea what's going on? I appreciate the help!

PHP Notice:  Use of undefined constant CURLOPT_SSL_VERIFYPEER - assumed 'CURLOPT
_SSL_VERIF

[2013-03-14 21:33] BenExile commented on #72
Closed due to inactivity

[2013-03-14 21:33] #72 closed, assigned to nobody

[2013-03-14 21:39] BenExile commented on #76
Hi @epsilon1983

This definitely suggests that cURL is not enabled. Can you confirm that you only have one PHP install on your machine? Could it be possible that PHP in your PATH is a different version? Can you also confirm that you have checked that cURL is enabled via CLI? (`php -i > phpinfo.txt` or similar and check the output does specify that cURL support is enabled).

[2013-03-14 22:26] chrisrollins65 commented on #76
Hmm, I did as you said and curl was in fact not shown as enabled. In the wamp settings and phpinfo() it showed enabled. So I went into php.ini manually (I could've swore I checked it before, but oh well), and it was still commented out. I uncommented it and now it's working. Thanks for all the help!

[2013-03-14 22:26] #76 closed, assigned to nobody

[2013-03-15 20:49] BenExile commented on #75
Hi @hiwatt

This sounds like a configuration issue to be honest, especially because it works on another server. Double check your configuration against the working server and see if there are any discrepancies (incorrect include path or similar). If you still have issues after that then please let me know.

[2013-04-02 21:12] krajcsovszkig opened #77 "Problem with putStream"
Hi!

I love your API, but I've come across a problem with putStream: putFile works fine, but putStream throws this:

Parameter not found: oauth_consumer_key

File D:\programs\binaries\xampp\htdocs\Krajcsovszki.Gergely\resources\engine\Dropbox\OAuth\Consumer\Curl.php, line 153

Trace:
#0 D:\programs\binaries\xampp\htdocs\Krajcsovszki.Gergely\resources\engine\Dropbox\API.php(495): Dropbox\OAuth\Cons

[2013-04-05 05:27] markfilops opened #78 "Warning: Unexpected character in input: '\' (ASCII=92) state=1"
Hey there,

I know I'm missing something blindingly obvious, but when I try to run almost any of the example scripts I get the following:

[code]

This is when I try and run accountInfo.php

Any hints?

[2013-04-05 13:17] krajcsovszkig commented on #77
Update:

I tried again with the Session storage handler and now that didn't work either.

I also tried looking after the problem and I read somewhere that you should always use HMAC-SHA1 signature method, but if I try $OAuth->setSignatureMethod('HMAC-SHA1'); I get an "Invalid or missing signature" error for every request.

[2013-04-05 15:52] krajcsovszkig commented on #77
I fixed it, it turned out I messed it up:

I read data, like the consumer key from an xml like this:

[code]

This way, the $key will be a simplexmlelement, and this way, for some reason, the consumer key gets into the url like this:

[code]

Now I changed it like this:

[code]

and it works.

It's weird though that it didn't cause an issue with putFile, only with the other methods.

[2013-04-05 15:54] BenExile commented on #77
Hi @krajcsovszkig

Sorry for the delayed response on this. Been busy. Glad you got it sorted.

[2013-04-05 15:54] #77 closed, assigned to nobody

[2013-04-05 15:56] BenExile commented on #78
Hi @markfilops

Looks like you're not running PHP 5.3 or above. Correct? As described in the readme, this library requires PHP 5.3.1 or higher.

[2013-04-05 15:57] BenExile commented on #75
Closed due to inactivity

[2013-04-05 15:57] #75 closed, assigned to nobody

[2013-04-05 17:10] sfreytag opened #79 "Can ConsumerAbstract->getRequestToken be public?"
ConsumerAbstract->getAccessToken is public.

Would it be possible to make ->getRequestToken public also? (currently it is private)

I'm using your excellent API in a project, but I don't want instant authentication when I instantiate my Curl object.

One solution would be to write my own implementation of ConsumerAbstract, but this feels like overkill because your Curl implementation is absolutely

[2013-04-06 17:29] adabie opened #81 "Forbidden error"
I'm getting a forbidden error when I run the example putFile.  I can run accountInfo without any issue.  I just switched over to use the database to store the tokens.  I was able to write the files before the change but now I get the forbidden error.  Here is the actual error dump:

Fatal error: Uncaught exception 'Dropbox\Exception' with message 'Forbidden' in E:\web\relaytra\EBARR\NewTest\Dropbo

[2013-04-15 07:38] BenExile commented on #79
Hi @sfreytag

Pull request merged a minute ago. Thanks for your contribution!

[2013-04-15 07:38] #79 closed, assigned to nobody

[2013-04-15 07:54] BenExile commented on #81
Hi @adabie

Sorry for the delay in getting back to you. Are you still experiencing this problem? I've not seen it before so I'll need some time to look into it.

Regarding user ID: The ID passed to the storage handler should be your internal user ID (should match the ID used in your users table, for example). Hope this helps.

[2013-04-15 14:30] adabie commented on #81
Hi,

I found my issue.  I needed to switch from using the 'sandbox' to using 'dropbox' for my access type.  My app doesn't write to the app folder.  It's working now.

Thanks!

[2013-04-16 05:39] markfilops commented on #78
Absolutely correct. And a hosting service that refuses to upgrade resellers to recent versions of PHP. New hosting service, now all is good.

Thanks for your time.

[2013-04-16 05:39] #78 closed, assigned to nobody

[2013-04-24 17:56] hall13 opened #82 "Fatal Error"
Hello,

I am trying to get a file from my dropbox and this error keeps coming up.

Fatal error: Uncaught exception 'Dropbox\Exception' with message 'Forbidden' in C:\Program Files\Apache Software Foundation\Apache2.2\htdocs\umf\freight\Dropbox\Dropbox\OAuth\Consumer\Curl.php:153 Stack trace: #0 C:\Program Files\Apache Software Foundation\Apache2.2\htdocs\umf\freight\Dropbox\Dropbox\API.php(495): D

[2013-04-24 18:14] BenExile commented on #82
Please refer to the Dropbox API documentation which states the following for 403 errors:

"Bad OAuth request (wrong consumer key, bad nonce, expired timestamp...). Unfortunately, re-authenticating the user won't help here"

Can you please confirm if this happens for all files? Also please provide the entire failed request, removing your consumer key/secret.

[2013-04-24 18:46] hall13 commented on #82
It happens for all the examples except accountInfo.php.  For the other ones this gets output every time.

Fatal error: Uncaught exception 'Dropbox\Exception' with message 'Forbidden' in C:\Program Files\Apache Software Foundation\Apache2.2\htdocs\umf\freight\Dropbox\Dropbox\OAuth\Consumer\Curl.php:153 Stack trace: #0 C:\Program Files\Apache Software Foundation\Apache2.2\htdocs\umf\freight\Dropbox\

[2013-05-07 23:54] core000 opened #83 "Examples not working"
After updating the  Bootstrap.php with my key and secret, I rant the accountInfo.php.   I get the following errors starting with:

Notice: Use of undefined constant CURLOPT_SSL_VERIFYPEER - assumed 'CURLOPT_SSL_VERIFYPEER' in C:\wamp\www\Ben\bootstrap.php on line 50

Notice: Use of undefined constant CURLOPT_VERBOSE - assumed 'CURLOPT_VERBOSE' in C:\wamp\www\Ben\bootstrap.php on line 50

Please he

[2013-05-09 07:13] BenExile commented on #83
Hi,

This would suggest that you don't have cURL enabled. Can you confirm?

[2013-05-15 23:25] core000 commented on #83
Actually, I enabled CURL in PHP.ini, but still a no go:   Below is entire message:

 ! ) SCREAM: Error suppression ignored for

( ! ) Notice: Use of undefined constant CURLOPT_SSL_VERIFYPEER - assumed 'CURLOPT_SSL_VERIFYPEER' in C:\wamp\www\Ben\bootstrap.php on line 50

Call Stack

#

Time

Memory

Function

Location

1 0.0013 670736 {main}( ) ..\accountInfo.php:0
2 0.0022 688448 require_once( 'C:

[2013-05-27 00:27] fmehdi opened #84 "pufile.php example not working : Invalid file extension"
After updating the Bootstrap.php with my key and secret, I run the putFile.php. I get the following message:

Invalid file extension

i can see account info in accountinfo.php correctly also getFile.php, but putFile.php dosen't works.

[2013-06-01 14:47] #84 closed, assigned to nobody

[2013-06-03 14:47] ghost commented on #12
Hi! I know this problem has been closed but maybe now you know the solution...
I use php 6 with appserv and have this message: Parse error: syntax error, unexpected T_FUNCTION, expecting ')' in .../bootstrap.php on line 28

In that line as you know is:

// Register a simple autoload function
spl_autoload_register(function($class){
    $class = str_replace('\', '/', $class);
    require_once('../'

[2013-06-03 14:51] BenExile commented on #12
Hi @Suhkha

PHP 6 has not been released yet. Can you please confirm your PHP version and that your install meets the requirements detailed in the readme?

[2013-06-03 15:07] ghost commented on #12
You're right. Sorry but in my php info says: PHP Version 6.0.0-dev, but is > 5.2 (don't have this)
And I readed the 'readme' and I think followed the steps.

(Sorry for my english).

[2013-06-03 15:34] sureshdsk commented on #81
@adabie  how to switch from sandbox to dropbox ? im also facing the same issue

[2013-06-03 15:36] BenExile commented on #12
Hi @Suhkha

Because you're on a development version it could well be a bug with that. Are you able to test on another machine with a stable (or at least RC) version of PHP installed?

For compatibility with PHP < 5.3, lines 24-27 in examples/boostrap.php can be changed to the following but you will encounter other issues which is why 5.3.1 is a requirement (cURL issues with named file uploads, and

[2013-06-03 15:48] ghost commented on #12
For now I don't have another machine, just one but is x86.

I think I coud install another server or change the version of php.

Thank you.!
When testing this I will comment.
:)

[2013-06-03 16:22] Bugster commented on #12
This line:
$class = str_replace('\', '/', $class);

You typed \'

Repace that with \'

[2013-06-03 16:28] BenExile commented on #81
HI @sureshdsk

Either pass 'dropbox' as the second argument when instantiating the Dropbox\API object, or call Dropbox\API::setRoot(), passing 'dropbox' as the only argument.

[2013-07-10 22:52] tippatone commented on #82
Hi,
I'm getting the same Fatal Errors. Like hall13 said, the only one that works for me is accountInfo.php

Fatal error: Uncaught exception 'Dropbox\Exception' with message 'Forbidden' in C:\xampp\htdocs\drop\Dropbox\OAuth\Consumer\Curl.php:153 Stack trace: #0 C:\xampp\htdocs\drop\Dropbox\API.php(495): Dropbox\OAuth\Consumer\Curl->fetch('GET', 'https://api-con...', 'files/sandbox/a...', Array) #1

[2013-08-17 17:43] khurshid-alam opened #85 "How to deploy this into my own server? Error:'Couldn't resolve host 'api.dropbox.com''"
I am using free hosting web on 2freehosting.com (php 5.3.24).
1. I uploaded the `Dropbox` folder & its sub-directories under public_html.
2. I put examples/bootstap.php & tests/setup.php under /public_html/pushover/.
3. Edited bootstrap.php:

`$key    = 'my-app-key';`
`$secret = 'my-app-secret';`

`$protocol = (!empty($_SERVER['HTTPS'])) ? 'https' : 'http';`
`$callback = $protocol . '://' . $_SERV

[2013-08-19 12:36] BenExile commented on #85
Hi @khurshid-alam

The library provides 2 different ways of storing tokens, either session based (the token will need to be acquired for each session), or persistently based on user ID. The `$userID` variable should be the ID of the logged in user in your system, but it can  also be a fixed value (if you simply want everyone to use the same token and connect to a single Dropbox).

Please also read

[2013-08-19 14:05] khurshid-alam commented on #85
Thanks for clearing that up. I am using fixed value for `$userID`. It has successfully created the database & there is no problem connecting to it.But the error I am getting is :

`Fatal error: Uncaught exception 'Dropbox\Exception\CurlException' with message 'Couldn't resolve host 'api.dropbox.com'' in /home/u31134576/public_html/Dropbox/OAuth/Consumer/Curl.php:113 Stack trace: #0 /home/u31134576

[2013-08-19 16:34] BenExile commented on #85
Hi,

This sounds like a network issue between your shared server and one of the Dropbox endpoints. I don't think it is related to the code in this library, so unfortunately I won't be able to assist.

Try getting in touch with your hosting provider to see if they can help you resolve the issue.

[2013-10-26 23:00] GerardUmbert opened #86 ""This app has been disabled.""
I keep getting this error. "This app has been disabled." (curl.php 153)
I might be retard but... what else am I supposed to do apart from giving correct values to bootstrap.php?

[2013-10-27 08:49] BenExile commented on #86
Hi,

That sounds like an error being returned by Dropbox. Not seen it myself, but I'd say make sure you're passing the correct value for dropbox/sandbox mode and log into  https://www.dropbox.com/developers and check your key/secret. If you still have issues submit a rocket to Dropbox and see if they can shed any light on the problem.

Dunnow notifications@github.com wrote:

[2013-10-27 09:41] GerardUmbert commented on #86
Somehow I messed up the key value, its definetly 100% different from the one I entered, this is kinda weird since I copy-pasted it directly from the console... but... ok.

Works now, thanks, and sorry for bothering.

[2013-10-27 13:36] BenExile commented on #86
No problem :) Resolved.

[2013-10-27 13:36] #86 closed, assigned to nobody

[2013-11-14 14:07] Kizuna-Meraki opened #87 "Installation Instructions for Acquia Drupal ??"
I'm trying to install your Dropbox Rest API libraries, but can't seem to get it to work. I downloaded your Dropbox-master.zip and tried placing the contents in these folders to no avail:

C:\inetpub\wwwroot\stadtlabor\sites\all\modules\libraries
C:\inetpub\wwwroot\stadtlabor\sites\all\libraries
C:\inetpub\wwwroot\stadtlabor\sites\all\libraries\dropbox

The error message which keeps appearing when

[2014-01-26 21:14] broakenmedia opened #90 "How to set to the userID dynamically for each user?"
I have a login system, from which i'd like to insert when the user registers, their 'user_id' into the userID for the dropbox table? a foreign key of sorts?

Is this possible? seems to be hardcoded as 1?

[2014-08-05 10:07] amsgulliver70 commented on #15
This is an absolute abhorrent mess of a system - as a school we have inherited all documentation via gitthub which is inaccessible wrapped up in html code with underlying content simply impenetrable.  What an absolute nightmare.....it is fair to say github is for the geeks and for those who want to keep it simple and engage learners this is not for  you.  Sort it out and make it user friendly and

[2014-08-05 10:18] ghost commented on #15
@amsgulliver70 - instead of ranting, why don't you:
- Be clear about where you are having trouble.
- Open a new ticket and ask a specific question, or, as you appear to have written the computing curriculum...
- Fork it, improve it, write a better one, or use something different.

You say

and yet you've managed to fork and make commits to the ams-ICT repo.

Come on - I know almost NOTHING about c

[2014-08-05 10:22] BenExile commented on #15
@amsgulliver70 Can I clarify what your frustrations are? Are they specifically with this library, or with GitHub as a platform? Here to be as helpful as possible but, to put it bluntly, you need to be less of a b***h and stop whining. 540 people have starred this repository, some have paid me for it (even though it's available for free), and according to Packagist it has been installed 3,400+ time

[2014-08-05 10:51] BenExile commented on #90
Hi @xbroak

Apologies, you've probably resolved this by now, but I thought I'd reply instead of just closing the ticket. The library is authentication system agnostic. When a user registers, you'd retrieve a Dropbox access token for them, taking them through the OAuth flow, and then store it for their user ID. The only thing you'd need to do is retrieve their user ID from your users table and pass

[2014-09-24 06:12] kemppaij opened #91 "Apps/TestFolder rights question"
Hi!
Nice code, I got it working. I would still though have a question. I've created an App with my dropbox account. Now I've managed to authenticate three different users. They all authenticated and are able to see this created Apps/TestFolder. When I upload something there or somebody else, I can only see my own uploads and the others their own? Is this normal behaviour or isn't it possible to sh

[2014-09-25 11:35] #91 closed, assigned to nobody

[2014-09-25 11:40] BenExile commented on #91
Just to confirm, the app folder that is created if the application root is "sandbox" is not shared between authenticated users.

[2014-10-08 01:42] vik0803 opened #92 "Need Help with Href Link"
Hello Ben,

First of all thanks for sharing this amazing git.

I was able to use it very well though I got stuck at one place. Is there any snippet that you can share where I can produce Hyperlink to display on page and ask user to click on it to integrate.

Thanks,
Vik

[2014-10-22 08:06] nicolaszanghi opened #93 "Connect via token (upload file to one account)"
Hello Ben,

Thank you for your awesome work. It work pretty well. I manage to upload file to my account. But now i would like that all users send file to one dropbox account. For that I use the token from the dropbox App console.

But I get this error :  `Uncaught exception 'Dropbox\Exception' with message 'Access token not found.'`

I don't understand what I'm suppose to put in `oauth_token_secre

[2015-04-08 05:14] applemate commented on #67
I was running php 5.6.2

[2015-07-20 05:23] abusohib commented on #67
I faced same problem. i was running php 5.6.10

I found the answer . There is a new Variable included with curl in PHP 5.5: CURLOPT_SAFE_UPLOAD this is set to false by default in PHP 5.5 and is switched to a default of true in PHP 5.6.

I have set CURLOPT_SAFE_UPLOAD = false in https://github.com/BenExile/Dropbox/commit/79ea42dcc4afd4e21af0597ff0c6e47c2a557e21

It has fixed my problem.

[2015-12-10 13:37] PaulJBis opened #97 "How to use this library without Composer?"
Hello:

I am trying to use your library in a simple PHP app that will be running on a shared host. Since my shared host doesn't have Composer nor shell access, I'm trying to figure out how to include your library in my app without having to install Composer. I tried moving the `Dropbox/` folder to the same folder where I have my script; then I moved the `bootstrap.php` to that same folder, and edi

[2015-12-10 15:17] eusonlito commented on #97
And

[code]

?

[2015-12-11 10:44] PaulJBis commented on #97
Thanks!

[2015-12-11 10:44] #97 closed, assigned to nobody

[2016-02-25 11:59] jmcbee commented on #56
I'm not sure why this is closed, it still redirects.

[2016-03-01 10:40] gasola commented on #93
Hi Nicolas,
have you resolved this issue? If yes, how?

[2016-03-08 13:59] lonalore commented on #93
You can retrieve "token" and "secret" with using "get" method:

[code]

You can save these values into your database for later use.

[2016-03-29 20:40] reimax commented on #67
not work.  Expecting a file upload ...

[2016-06-29 19:02] LevelDisk opened #98 "Migration to API v2"
https://blogs.dropbox.com/developers/2016/04/announcing-the-v1-to-v2-migration-guide/

https://www.dropbox.com/developers/reference/migration-guide

[2016-10-14 10:25] skuppuraj opened #99 "Could not resolve host: api-content.dropbox.com"
I am frequently getting this error while uploading file to drop box.This issue is occur only in shared server, dedicated server working fine. I contacted my host they said all are fine. They are reply
We still able to telnet to api-content.dropbox.com on port 80 and 443. You can verify the same with logs given below.
#

telnet api-content.dropbox.com 80
Trying 45.58.70.36...
Connected to api-conte

[2016-10-14 10:42] ghost commented on #99
Where is that message that says "the server not support ipv6" coming from?

What happens when you `nslookup content.dropboxapi.com` from your virtual server?

Can you add an alias for the api endpoint on your virtual server?

[2016-10-14 12:42] skuppuraj commented on #99
In my server not support IPV6 because it shared hosting .

When I run **nslookup content.dropboxapi.com** I got this output

nslookup content.dropboxapi.com
Server: 75.98.161.224
Address:    75.98.161.224#53

Non-authoritative answer:
content.dropboxapi.com  canonical name = block-api.dropbox-dns.com.
block-api.dropbox-dns.com   canonical name = block-api-iad.dropbox-dns.com.
Name:   block-api-iad

[2016-10-14 12:57] ghost commented on #99
Yeah, but ... that's OK, right? Dropbox isn't IPv6. your server isn't IPv6. so they should have no problem.

I don't think it's the IPv-whatever part which is causing the problem.

[2017-01-27 09:28] thamaraiselvam opened #100 "Request token not found After allow OAuth."
Actually, I use this SDK on the self-hosted product, it works fine but some servers it creates following error after allowing OAuth from dropbox.
```(401) Request token not found```

Could it server be a problem for this error ?
attached stack trace
[code]

[2017-01-27 09:45] thamaraiselvam commented on #100
The updating latest version of ` OAuth/consumer/curl.php` fixed the issue.

[2017-01-27 10:16] thamaraiselvam commented on #100
It is recreating issue again, It happens often now.

[code]
`oauth_token` is request token and `oauth_signature` is `request_token_secret` (after & symbol)

So my request token is empty here but still, I get `(401) Request token not found`

[code]

[2017-04-11 08:07] thamaraiselvam opened #101 "files starts with symbol @ not uploading."
throws following exception
`Error Processing Request: couldn\'t open file "dearsekva.pg`

I am using PHP version `v5.6`.

[2017-04-11 09:25] thamaraiselvam commented on #101
https://github.com/BenExile/Dropbox/pull/96
solved the issue

[2017-04-11 09:25] #101 closed, assigned to nobody